/* =====>>>>GENERAL */

html{
    box-sizing: border-box;

}

body{
    margin: 0;
    border: 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    background-color: rgb(255,255,255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    width: 100%;
}




/* =====>>>>HEADER */

header{
   
    background-color: rgb(255,255,255); 
    padding: 14px 16px;   
    color: #AEAEAE;
    font-size: 20px;
    
}

#logo-img{
    width: 100px;
}

#bars{
    display: none;
}

#presentation{
    display: block;
    width:40%;
}


.nav{
    display: flex;
    justify-content:space-between; 
    align-content: flex-start;
 }

.menulist{
    
    display: flex;
}

.menulist li {


padding: 2%;
list-style-type: none;  }

    
.navproject{

    display: none;
    justify-content: flex-end;
    margin-left: 1em;
    
    
}
.navservices , .navindustries{
    display: flex;
    align-items: center;
    margin: 2%;
    font-size: 14px;

}

.navproject i{
    margin-left: 10px;

}

/* =====>>>>MAIN */

main{
   margin-left: 1%;
   margin-right: 1%;
    
}

.image-container {
    display: grid;
    grid-template-columns: repeat( 3 , 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-gap: 3px;
    grid-auto-flow: dense;
    justify-items: stretch;
    align-items: stretch;
    position: relative;
    height: 100%;
  }
img{
    margin: auto;
    max-width: 100%;
    max-height: 100%;

}

img:hover{
    opacity: 0.05;
    transition: opacity 500ms;
}

.D , .G , .J , .M, .P{
    grid-column-start: span 2;
    grid-row-start: span 2;
}






 
  
  .mainarticles{
    display: grid;
    grid-template-columns: repeat( 3 , 1fr);
    grid-gap: 3px;
    grid-auto-flow: dense;
  
}



.we-are-mucho, .talking-and-teaching, .about{
    
    background-color: #F4F4F4;
    padding: 10px;

}



.mainarticles p{
    font-size: 20px;
    padding: 10px;
}



 h2{
    color: #EC1C24;
    font-size: 20px;
    padding: 10px;
}

.we-are-mucho a{
    color: #AEAEAE;
    text-decoration: none;
}

.contact{
   
    padding-top:100px;
    color:#555555;
    font-size: 20px;
}
 
/* =====>>>>FOOTER */

footer{
    margin-top: 10%;
    margin-left: 1%;
   margin-right: 1%;
    color:#8a8888;


}

.footer-addresses{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);


}



 #footer-text {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    font-size: 22px;
}



.direction{
    font-size: 14px;
}



.cities div{
    grid-column-start: span 2;
    padding: 0 0 40px
}

.copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    
}




  
h4 {
    color: #AEAEAE;

    
}












 



