$red: #D63E3E
    
.settings
    width: 100vw
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center

    &__container
        width: 50%
        margin-left: 15%
        padding-left: 1rem
        border-left: 4px solid $red
        font-size: 2rem

.icon-settings
    font-size: 1.8rem
    margin-top: 10rem
    margin-left: 2rem   



    





