.register-success
    @extend %main-content-box 
    font-family: "Cousine", sans-serif
    border-radius: 0.5em 
    width: 90%

    &__copy
        color: white

    &__login
        @extend %link
        background-color: white
        padding: 3px 10px
        border-radius: 0.2em 
        line-height: 3
    
    &__login:hover
        color: white
        background-color: deeppink