=round-border($width, $radius, $style, $color)
    border: $width $style $color
    border-radius: $radius

=round-border-button($width, $radius, $style, $color)
    border: $width $style $color
    border-radius: $radius