* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  border: none;
}

body {
  background-color: #fff200;
}

button {
  outline: none;
}
button:focus, button:hover {
  border: node;
  text-decoration: node;
  outline: none;
  color: #474747;
}

a:hover {
  color: grey;
}

.header {
  width: 100vw;
  position: fixed;
  background-color: #fff200;
  top: 0;
}
.header--title {
  height: 50px;
  width: 100vw;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}
.header--items {
  height: 58px;
  width: 100vw;
  margin: 0px auto;
  display: flex;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #1f1f1f;
  font-size: 1rem;
  text-decoration: none;
  justify-content: space-between;
  padding: 2px;
}
.header--search {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-self: center;
  position: fixed;
}

.logo {
  text-decoration: none;
  font-size: 1.5rem;
  align-self: center;
  color: #1f1f1f;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.dropdown {
  display: inline-block;
  display: block;
  overflow: hidden;
  width: 120px;
}

.dropbtn {
  background-color: #fff200;
  padding: 16px;
  width: 120px;
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
}

.dropdown-content,
.lang-list,
.lang-form,
.lang-button,
.lang-input,
.lang-ul {
  display: none;
  list-style-type: none;
  background-color: #fff200;
  min-width: 160px;
  box-shadow: none;
  z-index: 2;
  color: #1f1f1f;
  padding: 4px 2px;
  text-decoration: none;
  text-align: left;
  border: none;
}

.dropdown-content,
.lang-list,
.lang-form,
.lang-button,
.lang-ul,
.lang-input {
  display: block;
  list-style-type: none;
  min-width: 160px;
  box-shadow: none;
  z-index: 2;
  color: #1f1f1f;
  padding: 4px 2px;
  text-decoration: none;
  text-align: left;
  border: none;
}

.dropdown:hover {
  display: block;
  position: absolute;
}

.sign {
  position: absolute;
  right: 0;
  padding: 1px 1px;
  width: 100px;
  font-size: 0.9rem;
  align-self: center;
  margin-right: 2px;
  text-align: center;
}

ul,
li,
a {
  list-style-type: none;
  text-decoration: none;
  color: #1f1f1f;
}

.button--search {
  background-color: #fff200;
  width: 70px;
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
}

.input--search {
  width: 100px;
  height: 20px;
  border: none;
}

.content {
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item {
  min-width: 100%;
  background-color: #fff200;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: center;
  margin: 2px;
}
.item--image {
  width: 600px;
}
.item--title {
  color: #1f1f1f;
  padding: 4px 2px;
  text-align: center;
}
.item--price {
  position: absolute;
  text-align: center;
  width: 50px;
}

.button--fav {
  position: absolute;
  top: 720px;
  margin: 10px;
}

.formSign {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.formSign--register {
  justify-content: center;
  margin: 20px auto;
  text-align: center;
  font-size: 1rem;
}
.formSign--title, .formSign--goback, .formSign--button {
  text-align: center;
  margin: 20px auto;
  text-align: center;
  width: 150px;
  margin: 2px auto;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background-color: #fff200;
}
.formSign--form {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  justify-content: center;
  text-align: center;
}
.formSign--input {
  text-align: center;
  width: 150px;
  height: 25px;
  margin: 2px auto;
}
.formSign--label {
  text-align: center;
  width: 150px;
  margin: 2px auto;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.hello {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 1.2rem;
}

/*# sourceMappingURL=style.css.map */
