%panel
    padding: 0.5rem
    margin: 1.5rem
    align-content: center

    +round-border(0.1rem, 1rem, solid, $panel-color)
    
    background-color: lightgray

    &__feedback
        color: lightgray