@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,700&display=swap')

*
  padding: 0
  margin: 0
  font-family: "Red Hat Display", sans-serif
  box-sizing: border-box

// #root
//   background: linear-gradient(to right, red, purple)

body
  //border: 1px solid black
  margin-bottom: 12%
