.header
    margin-top: 1.6vh
    height: 8vh
    weight: 100vh
    display: flex
    flex-wrap: wrap
    flex-direction: row
    justify-content: space-between
    align-content: space-around
    align-items: center
    padding: 1vh
    background-color: #F7F9FB

    &_navigator
        display: flex
        flex-direction: column
        justify-content: flex-end
        align-items: flex-end
        
    &_div
        margin-bottom: 1vh    
    
    &_button
        display: flex
        margin-right: 1vw
        background: #8FC1E3
        background-image: -webkit-linear-gradient(top, #F7E70A, #FFB726)
        background-image: -moz-linear-gradient(top, #F7E70A, #FFB726)
        background-image: -ms-linear-gradient(top, #F7E70A, #FFB726)
        background-image: -o-linear-gradient(top, #F7E70A, #FFB726)
        background-image: linear-gradient(to bottom, #F7E70A, #FFB726)
        -webkit-border-radius: 80px
        -moz-border-radius: 80px
        border-radius: 80px
        color: #9C2709
        font-family: Open Sans
        font-size: 12px
        font-weight: 600
        padding: 20px
        padding-bottom: 5px
        padding-top: 5px
        box-shadow: 1px 1px 4px 0px #000000
        -webkit-box-shadow: 1px 1px 4px 0px #000000
        -moz-box-shadow: 1px 1px 4px 0px #000000
        border: solid #31708E 1px
        text-decoration: none
        display: inline-block
        cursor: pointer

    &_back
        display: flex
        text-decoration: none
        color: black
        margin-left: 1vw
        margin-right: 1vw
        background: #8FC1E3
        background-image: -webkit-linear-gradient(top, #8FC1E3, #5085A5)
        background-image: -moz-linear-gradient(top, #8FC1E3, #5085A5)
        background-image: -ms-linear-gradient(top, #8FC1E3, #5085A5)
        background-image: -o-linear-gradient(top, #8FC1E3, #5085A5)
        background-image: linear-gradient(to bottom, #8FC1E3, #5085A5)
        -webkit-border-radius: 80px
        -moz-border-radius: 80px
        border-radius: 80px
        font-family: Open Sans
        font-size: 12px
        font-weight: 600
        padding: 20px
        padding-bottom: 5px
        padding-top: 5px
        box-shadow: 1px 1px 4px 0px #000000
        -webkit-box-shadow: 1px 1px 4px 0px #000000
        -moz-box-shadow: 1px 1px 4px 0px #000000
        text-shadow: 1px 1px 20px #000000
        border: solid #31708E 1px
        text-decoration: none
        display: inline-block
        cursor: pointer
    
        