.okvote
    border-top: 5rem

.oktitle
    padding: 5rem
    text-align: center

.landingtwo
    width: 60%
    margin: auto
    justify-content: center
    align-items: center
    display: flex
    flex-direction: column
    padding-top: 6rem
    padding-bottom: 3rem

.landingbutton
    margin: 3rem
    border: 3rem

.results1
    border-top: 1.8rem
    margin: 0.5rem

.results2
    border-top: .8rem
    margin: 0.5rem

.button-poll
    display: flex
    align-items: center
    justify-content: center
    width: 40vw
    height: 6vh
    margin: 3rem auto
    background-color: #446ade
    border: none
    color: white
    text-align: center
    text-decoration: none
    font-size: 16px
    margin: 4px 2px