
@import ../Landing
@import ../Register
@import ../Login
@import ../Publish
@import ../Nav
@import ../Results
@import ../Search
@import ../Footer
@import ../Detail
@import ../SendEmail
@import ../Message
@import ../RetrieveAd
@import ../Favorites



  
  
.App 
  


.App-header 
  background-color: #282c34
  min-height: 100vh
  
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  font-size: calc(10px + 2vmin)
  color: white



@keyframes App-logo-spin 
  from 
    transform: rotate(0deg)
  
  to 
    transform: rotate(360deg)
  

