.footer
    width: 100%
    font-size: 1rem
    color:  #0791D0
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: center
    position: absolute
    bottom: 0
    padding: 1rem


    &__content
        list-style: none
        width: 50%
        font-size: 1.3rem
        display: flex
        justify-content: space-between
        padding: .5rem

