.okvote
    border-top: 5rem

.oktitle
    padding: 5rem
    text-align: center

.oktext
    padding: 2rem
    text-align: center

.button-poll
    display: flex
    align-items: center
    justify-content: center
    width: 40vw
    height: 6vh
    margin: 3rem auto
    background-color: #2b87b5
    border: none
    color: white
    text-align: center
    text-decoration: none
    font-size: 16px
    margin: 4px 2px