@import base-settings
@import ../utils/round-border
@import ../components/component
@import ../components/form
@import ../components/panel
@import ../components/landing
@import ../components/login
@import ../components/register
@import ../components/register-success
@import ../components/feedback
@import ../components/search
@import ../components/custom/duck-home
@import ../components/custom/duck-results
@import ../components/custom/duck-detail

h1 
    text-align: center
    font-family: 'Bree Serif', serif
    padding: 10px
    color: #e17055

a 
    text-decoration: none
    color: #e17055
    font-size: 22px