
.card-initial   

        padding: 0.5em
        display: flex
        justify-content: center
        flex-direction: column
        background-color: #394a6d
        
        
    
        &__image
            width: 80%
            margin: 10%
        &__info
            background-color: rgba(0,0,0,0.5)
            &__name
                padding-right: 0.5em
                font-size: 18px
            &__surname
                padding-right: 0.5em
            &__points    
                padding-right: 0.5em
        
 



   