.exam
    padding-top: 16%
    &__h4
        padding-bottom: 5%
        margin-top: 5%
        margin-right: 2%
        font-size: 1.7em
        font-family: $family
        color: $prussianBlue
        text-align: center
        &--size
            font-size: 1.1em
            margin-top: 5%
            margin-left: 2%
            font-family: $family
        &--padding
            padding-bottom: 2%
            margin-top: 5%
            margin-right: 2%
            font-size: 1.7em
            font-family: $family
            color: #186ac9ef
            text-align: center
    &__div
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 5px

    &__li
        display: flex
        flex-direction: column
        border-bottom: 1px solid #3634348e
    &__form
        display: flex
        flex-direction: column
        align-items: center
    &__input
        height: 4vh
        width: 40vw
        text-align: center
        margin-bottom: 4px
        font-size: 1.1em
        border-radius: 5px
    &__button
        height: 4vh
        width: 20vw
        background-color: green
        color: $white
        font-family: $family
        font-size: 1.2em
        &--size
            height: 5vh
            width: 20vw
            text-align: center
            margin-top: 5px
            font-family: $family
            font-size: 1.1em
    &__ul
        overflow: auto
        margin-left: 12%
        margin-top: 2%
        height: 13vh
        list-style-type: none
        text-align: center
        font-size: 1em
        font-family: $family
        border: 1px solid #3634348e
        border-radius: 5px
        width: 75vw
        &--size
            overflow: auto
            list-style-type: none
            height: 65vh
        &--pos
            overflow: auto
            display: flex
            flex-direction: column
            text-align: center
            border: 1px solid #746e6eb6
            border-radius: 10px
            height: 80vh
    &__h5
        margin-left: 45%
        font-size: 1.2em
        margin-top: 5%
        color: $blue
    &__link
        margin-left: 37% 
        text-decoration: none
        text-align: center
        font-size: 1.5em
        background-color: $blue
        font-family: $family
        border: 1px solid #3634348e
        border-radius: 5px
        color: white
    &__section
        height: 80vh   
    &__time  
        font-size: 1.1em
        margin-top: 1%
        color: $blue
        margin-left: 2%
        font-family: $family 
        margin-bottom: 5px
        padding-bottom: 5px  
        &--position
            font-size: 1.1em
            color: $blue
            font-family: $family
    &__select
        width: 15vh
        height: 10vw
        background-color: $white
        text-overflow: ''
        border-radius: 5px
        font-size: 1em
        font-family: $family
        margin-bottom: 5px
        &__h3
            font-family: $family
            color: $bluedark
    &__h3
        font-family: $family
        color: #c48b10d8