.header
     

    @extend %panel

    display: flex
    flex-wrap: wrap
    width: 60%
    
.navigator
    display: flex
    justify-content: space-between
    width: 100%
    
h1 
    display: block
    
   