$graycustom: rgb(182, 182, 182)
    
.website-layout
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: Verdana, Geneva, Tahoma, sans-serif
    width: 100%

.header-separator
    width: 100%
    display: flex
    justify-content: space-between
    border-bottom: 1px solid $graycustom

.header-separator__paragraph
    padding-top: 5vh
    max-width: 25em
    display: none

.header-title
    color: red

.header-separator__title
    font-size: 3em
    padding: 4vh
    font-weight: bolder

.navigation-panel 
    display: flex

    &__container
        display: flex
        list-style: none

    &__item
        display: block
        text-decoration: none
        padding: 5px
        font-size: 1em

    &__item:active
        background-color: gray


    &__container
        display: none

    &__hamburguer-menu 
        float: right
        font-size: 3em
        padding: 4vh
        color: gray

.list-item--color
    color: $graycustom

.navigation
    display: flex
    text-align: center
    border-bottom: 1px solid $graycustom

.navigation__title
    font-size: 2em
    font-weight: lighter
    padding: 3vh 5vh

.dropdown-menu 
    display: flex
    list-style: none

.dropdown-menu__item
    display: block
    text-decoration: none

.dropdown-menu
    display: none

.mosaic-grid
    display: grid
    grid-template-columns: 100%

.mosaic-grid__container
    position: relative
    color: white

.mosaic-grid__container img
    width: 100%

.project-title
    position: absolute
    top: 16px
    left: 16px

.mosaic-grid__container > p
    position: absolute
    top: 64px
    left: 16px

.about-section
    display: grid
    grid-template-columns: 100%
    gap: 0.2rem

.project-description
    background-color: rgb(233, 233, 233)
    height: 20em
    color: #333

.footer
    clear: both
    margin-top: 20px
    padding: 0px 0px 40px 10px

.footer__approach-paragraph
    padding-left: 1em

.addresses-wrapper
    display: flex
    width: 100%
    flex-wrap: wrap
    padding: 1em 0em

.addresses-wrapper__location
    width: 90%
    padding: 2em 1em

.contact-wrapper
    display: flex
    flex-direction: column-reverse

.contact-wrapper__social-media
    display: block
    padding: 0.5em 1em

@media (min-width:600px)
    .header-separator
        border: 0
        justify-self: center

    .header-separator__title
        font-size: 2em
    
    .navigation-panel__hamburguer-menu
        display: none

    .navigation-panel__container
        display: flex
        padding-top: 5vh

    .sections-navigator
        display: flex
        justify-content: flex-end

    .navigation
        border: 0

    .navigation__title
        padding: 1vh
        font-size: 1em

    .mosaic-grid
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 0.2rem

    .about-section 
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 0.2rem

    .footer__approach-paragraph
        font-size: 1.3em

    .addresses-wrapper__location
        width: 40%

    .contact-wrapper
        flex-direction: row
        justify-content: space-between
        font-size: larger
    
    .footer
        padding-left: 0

@media (min-width: 1000px)
    .header-separator
        margin-bottom: 2em

    .header-separator__paragraph
        display: block

    .navigation
        display: none

    .mosaic-grid
        grid-template-columns: 1fr 1fr 1fr
        grid-template-rows: repeat(7, 1fr)
        gap: 0.1rem 0.2rem

    .about-section
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        gap: 0.2rem

    .mosaic-grid__container--big1
        grid-column: 1 / 3
        grid-row: 2 / 4

    .mosaic-grid__container--big2
        grid-column: 1 / 3
        grid-row: 4 / 6

    .mosaic-grid__container--big3
        grid-column: 1 / 3
        grid-row: 6 / 8

    .addresses-wrapper
        align-content: space-between

    .addresses-wrapper__location
        width: 21%

    .addresses-wrapper__contact-data
        font-size: 0.8em

    .contact-wrapper
        font-size: x-large