*
    margin: 0
    padding: 0
    border: 0
    box-sizing: border-box
/*header*/

.header
    display: flex
    justify-content: space-between
    background-color: #DDFFE7

.logo
    height: 9vh 
    width: 22vw
    margin-left: 0.5rem

.nav__main--position
    margin-top: 1.2rem
    margin-right: 0.5rem

.nav__list--position
    display: flex
    padding: 5 rem
    & li
        list-style: none
        margin-left: 1em

/*Main*/
.kanban
    display: flex
    overflow-x: auto

.kanban__list
    list-style: none
    background-color: #26abbd69
    width: 100%
    & li
        border: 1px solid #000000a2
        background-color: #40678b65
        margin: 0.2rem
    & h2
        text-align: center
        color: #397591
        font-family: "Chilanka", cursive
        font-size: 1.8em
        margin: 1rem
    & h3
        color: #5355bdde
        font-family: "Chilanka", cursive
        font-size: 1em
        margin: 1rem
    & p
        color: #3a2d11c7
        font-family: "Chilanka", cursive
        font-size: 0.8em
        margin: 1rem 
    & time
        color: #3a2d11c7
        font-family: "Chilanka", cursive
        font-size: 0.8em
        margin: 1rem   
/*footer*/
.social
    background: #DDFFE7
    height: 9vh