*
    margin: 0
    padding: 0
    border: 0
    box-sizing: border-box
/*header*/

.header
    display: flex
    justify-content: space-between
    background-color: #DDFFE7

.logo
    height: 9vh 
    width: 22vw
    margin-left: 0.5rem

.nav__main--position
    margin-top: 1.2rem
    margin-right: 0.5rem

.nav__list--position
    display: flex
    padding: 5 rem
    & li
        list-style: none
        margin-left: 1em

/*main*/
.list-students
    padding-top: 1.5rem
    display: flex
    flex-direction: column
    align-items: center        
    text-align: center
    font-family: "Chilanka", cursive
    & h3
        color: #397591
        font-size: 2em
        padding-top: 1.5rem
    & a
        color: #397591
        font-size: 1.5em
        padding-top: 0.3rem
        text-decoration: none
    
.back
    margin-top: 2rem
    margin-bottom: 2rem
    height: 12vw
    width: 40vw
    font-size: 1.5em
    & a 
        text-decoration: none
        text-align: center
    

/*footer*/        
.social
    background: #DDFFE7
    height: 9vh