@media only screen and (min-width: 320px) and (max-width: 767px)
  
*
  margin: 0
  padding: 0
  box-sizing: border-box
  
.show
  display: block
    
.hide
  display: none

.body
  width: 100vw
  font-family: 'Roboto', sans-serif
  font-size: 1em
  color: rgb(85, 85, 85)
  background-image: url('https://image.freepik.com/vector-gratis/diseno-fondo-mapa-mundo_1127-2318.jpg')

.ul
  list-style-type: none
  display: flex

.li
  font-size: 0.8em
  margin-right: 0.2rem
  background-color: rgba(241, 239, 235, 0.2)   
  width: 5rem
  align-self: center
  padding: 0.3rem
  text-align: center

.nav-but
  text-decoration: none
  color: rgb(255,255,255)


.button
  width: 40vw
  height: 6vh
  margin: 1rem auto
  background-color: rgba(200,200,200,0.5)
  border: 0.05rem solid rgb(180,180,180)
  border-radius: 0.3rem
  text-align: center

.button:active
  background-color: rgba(200,200,200,1)
  color: rgb(255,255,255)

.title
  margin-top: 2rem

.img
  width: 90vw
  margin: 1rem auto    

.back
  width: 5rem

.art-ul
  list-style-type: none
  display: flex
  justify-content: space-evenly

.art-li
  font-size: 0.8em
  margin-right: 0.2rem
  background-color: rgba(180, 180, 180, 0.5)   
  align-self: center
  padding: 0.3rem
  border-radius: 0.4rem
  text-align: center

.art-but
  text-decoration: none
  color: rgb(0,0,0)