.nav
  width: 100vw
  padding: 0.5rem
  height: 2.2rem
  background-color: rgb(0,158,226)
  display: flex
  justify-content: flex-end
  text-align: center

  &__hello
    margin: auto 6rem auto 0  
    color: rgb(255,255,255)
    font-size: 0.9rem

.query-search
  display: flex
  flex-direction: column

.go-query
  width: 100vw
  font-size: 0.8rem
  text-align: center
  color: rgb(0,0,0)

.favorites
  width: 95vw
  text-align: center
  margin: auto

.fav-logo
  width: 60vw
  margin: 4rem auto
  display: flex