.results
  width: 95vw
  min-height: 200px
  margin: 0 auto
  display: flex
  text-align: center
  background-color: rgba(255, 255, 255, 0.5)
  box-shadow: 10px 10px 9px -4px rgba(0, 0, 0, 0.1)
  border-radius: 0.3rem

  &__ul
    list-style-type: none
    display: flex
    width: 95vw
    margin: 1rem auto
    flex-wrap: wrap
  
  &__li
    width: 95vw