.select
  width: 60vw
  height: 6vh
  margin: 1rem auto
  display: flex
  background-color: rgb(255,255,255)

.search
  text-align: center 

  &__title
    margin: 1rem auto

.nav-logo
  width: 70vw
  margin: 2rem auto
  display: flex