.duck-home
    +shadow-box($moz, $web, $sha)
    +size(45vw, 60vh)
    +round-border(1px, 0.5rem, solid, grey)
    background-color: #C0EAF0
    font-family: "Lacquer", sans-serif

    & > button
        margin-top: 0.5vh
        background-color: #7AE6F3