.duck-detail

    background-color: plum

    &__photo
        width: 332px

    &__price
        background-color: yellow
        color: red

    &__favourite
        border: 1px solid #57AB44
        padding: 10px
        border-radius: 2em
        background-color: #9CEC8B

    &__favourite:hover
        background-color: rgba(102, 255, 51, 0.4)