.header
    margin-bottom: 1rem
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    font-family: 'Monda', sans-serif

    &--form
        >h1
            text-align: center
    &--detail
        border: 1px solid
        border-radius: .5rem
        width: 100%
        padding: 0 1rem
        display: flex
        flex-direction: row
        justify-content: space-between
        font-size: 2rem
        .user-name
            text-align: center