<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="App for the management of shared spaces in collective housing">
    <meta name="keywords" content="architecture, space, housing, social housing, collective housing, shared space">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=B612 Mono' rel='stylesheet'>
    <link rel="stylesheet" href="../../style/index.css" type="text/css">
    <title>e-cohabitat</title>

</head>
<body>

    <header class="header hidden">

        <div>
            <img src="../../img/logo.svg" alt="e-COHABITAT project logo" class="header__logo">
            <nav>
                <ul class="header__main-menu">
                    <li class="header__item"><a class="header__main-link" href="" title="home">Home</a></li>
                    <li class="header__item"><a class="header__main-link" href="" title="about">About</a></li>
                </ul>
            </nav>
        </div>
            <nav>
                <ul class="header__secondary-menu">
                    <li class="header__item"><a class="header__secondary-link" title="User area">Username</a></li>
                    <li class="header__item"><a class="header__secondary-link" href="" title="Sign out">Sign out</a></li>
                </ul>
            </nav>

    </header>

    <main class="main">

        <div class="month">

            <h1 class="month__title"><i class="fas fa-caret-left"></i> September <i class="fas fa-caret-right"></i></h1>
            <p class="month__year">2019</p>

            <div class="month__toolbar">
                <div class="month__toggle">
                  <div class="month__toggle-option">today</div>
                  <div class="month__toggle-option">week</div>
                  <div class="month__toggle-option month__toggle-option--selected">month</div>
                </div>
                <div>
                  <input class="month__search-input" type="text" placeholder="Search"> <i class="fa fa-search"></i>
                </div>
            </div>

            <div class="month__act">
            <div class="month__activity">
                    <div class="month__chores">
                        <p class="month__list-title"><strong>Regular chores</strong></p>
                        <ul class="month__list">
                            <li class="month__item"><i class="far fa-square"></i> cleaning</li>
                            <li class="month__item"><i class="far fa-square"></i> listing stock</li>
                            <li class="month__item"><i class="far fa-square"></i> re-stocking</li>
                            <li class="month__item"><i class="far fa-plus-square"></i></li>
                        </ul>
                    </div>
                    <div class="month__tags">
                        <p class="month__list-title"><strong>Activity Tags</strong></p>
                        <ul class="month__list">
                            <li class="month__item"><i class="fas fa-square"></i> cooking</li>
                            <li class="month__item"><i class="fas fa-square"></i> eating</li>
                            <li class="month__item"><i class="fas fa-plus-square"></i></li>
                        </ul>
                    </div>
            </div>
            
            <div class="calendar">
              <div class="calendar__header">
                <div>mon</div>
                <div>tue</div>
                <div>wed</div>
                <div>thu</div>
                <div>fri</div>
                <div>sat</div>
                <div>sun</div>
              </div>
              <div class="calendar__week">
                <div class="calendar__day day">1</div>
                <div class="calendar__day day">2</div>
                <div class="calendar__day day">3</div>
                <div class="calendar__day day">4</div>
                <div class="calendar__day day">5</div>
                <div class="calendar__day day">6</div>
                <div class="calendar__day day">7</div>
              </div>
              <div class="calendar__week">
                <div class="calendar__day day">8</div>
                <div class="calendar__day day">9</div>
                <div class="calendar__day day">10</div>
                <div class="calendar__day day">11</div>
                <div class="calendar__day day">12</div>
                <div class="calendar__day day">13</div>
                <div class="calendar__day day">14</div>        
              </div>
              <div class="calendar__week">
                <div class="calendar__day day">15</div>
                <div class="calendar__day day">16</div>
                <div class="calendar__day day">17</div>
                <div class="calendar__day day">18</div>
                <div class="calendar__day day">19</div>
                <div class="calendar__day day">20</div>
                <div class="calendar__day day">21</div>    
              </div>
              <div class="calendar__week">
                <div class="calendar__day day">22</div>
                <div class="calendar__day day">23</div>
                <div class="calendar__day day">24</div>
                <div class="calendar__day day">25</div>
                <div class="calendar__day day">26</div> 
                <div class="calendar__day day">27</div> 
                <div class="calendar__day day">28</div> 
              </div>
              <div class="calendar__week">
                <div class="calendar__day day">29</div>
                <div class="calendar__day day">30</div>
                <div class="calendar__day day">31</div>
                <div class="calendar__day day">1</div>
                <div class="calendar__day day">2</div>
                <div class="calendar__day day">3</div>
                <div class="calendar__day day">4</div>
              </div>
            </div>
            </div>

        </div>

    </main>

    <footer class="footer hidden">
 
        <ul class="footer__menu">
            <li class="footer__item">e-cohabitat · 2019</time></li>
            <li class="footer__item"><a class="footer__link" href="#" title="Terms of Service">Terms of Service</a></li>
            <li class="footer__item"><a class="footer__link" href="#" title="Copyright">Copyright</a></li>
            <li class="footer__item"><a class="footer__link" href="#" title="Privacy Policy">Privacy Policy</a></li>
        </ul>  
        <ul class="footer__menu">
            <li class="footer__item"><a href="#" class="fab fa-twitter" title="twitter"></a></li>
            <li class="footer__item"><a href="#" class="fab fa-facebook-f" title="facebook"></a></li>
            <li class="footer__item"><a href="#" class="fab fa-instagram" title="instagram"></a></li>
            <li class="footer__item"><a href="#" class="fab fa-youtube" title="youtube"></a></li>
        </ul>      

    </footer>

</body>
</html>