.gallery
    width: 100%
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    color: #1DA5F3
    >li
        width: 40%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        height: auto
        margin: .25rem
        padding: .25rem
        >img
            width: 100%
            height: auto
            