.mainfooter
    display: flex
    padding: 5px
    position: fixed
    left: 0
    bottom: 0
    width: 100%
    background-color: #eae9e9
    

    &__title
        color: #394a6d
        text-align: center
