<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="App for the management of shared spaces in collective housing">
    <meta name="keywords" content="architecture, space, housing, social housing, collective housing, shared space">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- <link href='https://fonts.googleapis.com/css?family=Armata' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Assistant' rel='stylesheet'> -->
    <link href='https://fonts.googleapis.com/css?family=B612 Mono' rel='stylesheet'>
    <link rel="stylesheet" href="../../style/index.css" type="text/css">
    <title>e-cohabitat</title>

</head>
<body>

    <header class="header hidden">

        <div>
            <img src="../../img/logo.svg" alt="e-COHABITAT project logo" class="header__logo">
            <nav>
                <ul class="header__main-menu">
                    <li class="header__item"><a class="header__main-link" href="" title="home">Home</a></li>
                    <li class="header__item"><a class="header__main-link" href="" title="about">About</a></li>
                </ul>
            </nav>
        </div>
            <nav>
                <ul class="header__secondary-menu">
                    <li class="header__item"><a class="header__secondary-link" title="User area">Username</a></li>
                    <li class="header__item"><a class="header__secondary-link" href="" title="Sign out">Sign out</a></li>
                </ul>
            </nav>

    </header>

    <main class="main">

        <div class="module">
            <h1 class="module__title">Kitchen</h1>
            <p class="module__address">Building Z, 2nd floor</p>
            <p class="module__users">20 users </p>
            <a class="module__users-link" href=""><i class="far fa-eye"></i> who?</a>
                    
            <figure class="module__figure">
                <img class="module__img" alt="Arrels Barcelona" src="../../img/space-a.jpg">
            </figure>          
    
            <form class="module__form">
                <button class="module__calendar">General calendar</button>
                <button class="module__week">What's up today?</button>
            </form>
        </div>

    </main>

    <footer class="footer hidden">
 
        <ul class="footer__menu">
            <li class="footer__item">e-cohabitat · 2019</time></li>
            <li class="footer__item"><a class="footer__link" href="#" title="Terms of Service">Terms of Service</a></li>
            <li class="footer__item"><a class="footer__link" href="#" title="Copyright">Copyright</a></li>
            <li class="footer__item"><a class="footer__link" href="#" title="Privacy Policy">Privacy Policy</a></li>
        </ul>  
        <ul class="footer__menu">
            <li class="footer__item"><a href="#" class="fab fa-twitter" title="twitter"></a></li>
            <li class="footer__item"><a href="#" class="fab fa-facebook-f" title="facebook"></a></li>
            <li class="footer__item"><a href="#" class="fab fa-instagram" title="instagram"></a></li>
            <li class="footer__item"><a href="#" class="fab fa-youtube" title="youtube"></a></li>
        </ul>      

    </footer>

</body>
</html>