.favorites
    margin: 25% 5% 0 5%
    
    &__ul
        padding: 0

    &__li
        list-style: none 
        border-bottom: ridge
        border-bottom-width: 1px
        margin-top: 3%

    &__a
        display: flex        
        margin-bottom: 2%
        padding-bottom: 2%
        text-decoration: none
        color: grey
    
    &__image
        width: 30%
        height: 30%
        object-fit: contain
    
    &__title
        margin: 0
        font-size: 16px
    
    &__price
        margin: 0
        font-size: 12px

    &__none
        list-style: none
        margin-top: 25%
        margin-bottom: 80%

    &__text
        margin-left: 3%    
    


