*
    margin: 0
    padding: 0
    border: 0
    box-sizing: border-box
/*header*/

.header
    display: flex
    justify-content: space-between
    background-color: #DDFFE7

.logo
    height: 9vh 
    width: 22vw
    margin-left: 0.5rem

.nav__main--position
    margin-top: 1.2rem
    margin-right: 0.5rem

.nav__list--position
    display: flex
    padding: 5 rem
    & li
        list-style: none
        margin-left: 1em

/*Main*/
.exams__title
    text-align: center
    color: #397591
    font-family: "Chilanka", cursive
    font-size: 1.8em
    margin: 1rem

.new-exam--display
    display: flex
    flex-direction: column
    & :nth-child(-n+4)
        margin: .2rem
    & :nth-child(1)
        font-size: 1.2em
        padding: 0.5rem
        margin-left: 0.1rem
        margin-right: 10rem
        border: 1px solid #81727262
    & :nth-child(2)
        font-size: 1em
        padding: 0.5rem
        margin-left: 0.1rem
        margin-right: 2rem
        border: 1px solid #81727262
    & :nth-child(3)
        font-size: 1.2em
        padding: 0.1rem 0.5rem
        margin-left: 0.1rem
        margin-right: 15.1rem
        border: 1px solid #81727262
    & :nth-child(4)
        text-align: center
        font-size: 1.2em
        padding: 0.5rem
        margin-left: 5rem
        margin-right: 7rem
        border: 1px solid #27222262
        background-color: #11d331
.exam
    background-color: #b9afaf1f
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 0.5rem
    & h3
        margin-right: 5rem
        font-size: 3em
        color: #ff0000fb
        font-family: "Chilanka", cursive


.exam__info
    height: 15vh
    display: flex
    flex-direction: column
    width: 60vw
    padding-left: 0.6rem
    & h4
        margin-top: 0.4rem
        color: #397591
        font-family: "Chilanka", cursive
        font-size: 1.3em
    & p
        margin-top: 0.4rem
        color: #397591
        font-family: "Chilanka", cursive
        font-size: 1em
    & time
        margin-top: 0.4rem
        color: #397591
        font-family: "Chilanka", cursive
        font-size: 1.2em
    & button
        margin: 0.4rem
        height: 8vh
        width: 20vw
        background-color: #bbba68ad
.back-subjects
    margin: 1rem
    padding: .5rem
    & a
        text-decoration: none
        color: #397591
/*footer*/
.social
    background: #DDFFE7
    height: 9vh