*
    box-sizing: border-box

.body
    display: grid
    grid-template-rows: 20% 80%

.main
    height: 100vh

    &__section
        font-family: Lato, sans-serif
        padding: 0 1em 0 1em
        color: #111111
        text-align: center

        &-p
            line-height: 2em

        &-h
            color: #e5474b
            line-height: 1.6em


        &-register
            border: 2px solid #e5474b
            background: none
            padding: 1em
            color: #e5474b
            font-weight: 550

.header
    display: flex
    justify-content: space-between
    border-bottom: 1px solid black
    background-color: #1c1c1c


    &__nav
        list-style: none
        display: flex

        &-item
            background: none
            border: 0px
            color: white
            padding-right: 0.5em
            padding-top: 1.3em
            font-family: Lato, sans-serif
            font-weight: 550
            

    &__title
        font-family: 'Dancing Script', cursive  
        color: #e5474b
        padding-left: 0.5em

        
