.lang-nav
    margin: 0 0 1rem
    width: 100%
    display: flex
    justify-content: space-evenly
    list-style: none
    font-family: 'Montserrat', sans-serif
    >li
        width: 22%
        >form > button
            margin: .15rem
            padding: .5rem .25rem
            width: 100%
            background-color: #F2E530FF
            border-radius: .25rem
            border: none
            font-weight: bold
            font-size: .85rem
            color: #8f860a
            outline: none
            &:hover
                background-color: #F2E530BB
            

