@import '../../style/config.sass'
    
.myAccount
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    h1
        margin: 1rem
        color: $secondary-color

    h2
        margin: 1rem
        color: $secondary-color


    &__updateUser
        padding: 1rem
        width: 25%
        height: 25%
        border-top: 1px solid $secondary-color
        background-color: white
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

    &__update-user--form
        display: flex
        flex-direction: column

        input
            margin-top: 1rem
            border: 0
            background-color: rgba($secondary-color, 0.1)

        button
            margin-top: 1rem


