%panel
    max-width: 400px
    min-width: 300px
    text-align: center
    border: 1px solid $greyl
    border-radius: 1rem
    padding: 25px
    margin: 20px auto
    &--feedback
        background: $red
        border-radius: 1rem
        padding: 15px
        color: $white
        margin: 10px 0

