.feedback
    border: 2px solid rgba(0,0,0,0.3)
    padding: 0 20px 20px 20px
    margin: 60px
    box-shadow: 0 4px 6px #bbb
    background: #fff
    border-radius: 3px
    -moz-border-radius: 3px
    -webkit-border-radius: 3px
    padding: 10px
    
    &--error
        color: red
    &--warn
        background-color: yellow
    &--success
        color: green