.form-fav
    display: flex
    justify-content: center
    align-items: center
    border: 1px solid #F85B4E33
    width: 20%
    border-radius: .5rem
    margin: 1rem 0 .5rem
    padding: .25rem
    background-color: #F85B4E55
    &__btn
        width: 100%