$title-color: #47cf73  
$feedback: #ffffff
$panel-color: #f5f5f5 
$alert: red
$banana: #FCF6B1
$sea: #A9E5BB
$lesssea: #E5E5E5
$lemon: #F6C31E
$purple: #2D1E2F
$lightpurple: #c3c0e8
$lesspurple: #5E5B7F
$red: #F72C25
$thinfont: 'Rubik', sans-serif
$boldfont: 'Fredoka One', cursive

    