.duck-results
    @extend %main-content-box
    background-color: $primary-bg-color
    margin-bottom: 2em
    &__list
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: center
        list-style: none
        padding: 10px
        font-size: 16px

    &__item
        list-style: none