@import ../../style/config.sass

.feedback
    border: 1px solid
    text-align: center
    border-color: $primary-color
    padding: 0.3rem

    &--error
        color: red
    &--warn
        background-color: yellow
    &--success
        color: green