.form-create
    
    text-align: center
    

    &__inputs
        display: flex
        flex-direction: column
        flex-wrap: nowrap
  

label
    font-size: 18px

input
    padding: 2%
    margin: 2%

.create
    width: 80%
    margin: 10% auto
    border: 1px solid white
    &__title
        margin-bottom: 0
  