.ducks
    display: flex
    justify-content: center
    align-items: center
    flex-flow: column wrap
    padding-top: 180px
    padding-bottom: 7rem
  
    &__item
        display: flex
        padding: 1rem
        justify-content: center
        align-items: center 
        list-style: none
        width: 90vw
        height: 100vw
        background: #fff
        border-radius: 2px
        margin: 1rem
        position: relative
        box-shadow: 0 1px 80px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
        transition: all 0.3s cubic-bezier(.25,.8,.25,1)

        &:hover
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
    
.missing-favorites
    padding-top: 40vh
    display: flex
    flex-flow: column nowrap
    color: #0791D0
    justify-content: center
    align-items: center
    line-height: 2rem

    &>i
        font-size: 2rem

   
       
