.landingthree
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    padding-left: 16vw
    width: 100vw
    height: 100vh
    background: url('../../images/background-citizen.jpg') transparent no-repeat center center
    
.okvote
    border-top: 5rem

.oktitle
    padding: 5rem
    text-align: center

.oktext
    padding: 4rem
    padding-bottom: 8rem
    text-align: center

.button-poll
    display: flex
    align-items: center
    justify-content: center
    width: 40vw
    height: 7vh
    margin: 3rem auto
    background-color: #446ade
    border: none
    color: white
    text-align: center
    text-decoration: none
    font-size: 16px
    margin: 4px 2px

.imagecontainer
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .imagepromo2
        width: 80%