*
    margin: 0
    padding: 0
    box-sizing: border-box
    
    
@import ../sassfiles/base-settings
@import ../sassfiles/sections-settings
@import ../sassfiles/temp
@import ../sassfiles/register-login
@import ../sassfiles/item-settings

@import ../components/html
@import ../components/header
@import ../components/login
@import ../components/register-success
@import ../components/register
@import ../components/duck-detail
@import ../components/lang-selector
@import ../components/duck-result
@import ../components/favorites