$base-blue: #05386b
$font: Lato, sans-serif

.landing
        width: 100vw
        width: 85%
        margin: 0 auto
        color: $base-blue
        font-family: $font

        &__section
                text-align: center
                height: auto
                margin: 2vh auto
                display: block

                &-p
                        line-height: 4vh
                        padding-bottom: 2vh

                &-h
                        line-height: 4vh
                        padding-bottom: 2vh

                &-button
                        border: 2px solid $base-blue
                        background: none
                        padding: 2vh
                        color: #05386b
                        font-weight: 700

                &-img
                        padding-top: 2vh
                        display: block
                        margin: 0 auto
                        width: 100%
