
.examples
  width: 94vw
  margin: 1rem auto
  background-color: rgba(255,255,255,0.6)
  box-shadow: 10px 10px 9px -4px rgba(0, 0, 0, 0.2)
  &__title
    padding: 1rem
    color: rgb(70,70,70)
    font-size: 1.2rem
    text-align: center
  &__ul
    list-style-type: none
    text-align: center
  &__li
    width: 96%
    padding: 0.4rem
    margin: 0.8rem auto
    font-size: 0.8em
    align-self: center
    text-align: center
  &__h4
    margin:0.8rem auto 0.5rem auto
    color: rgb(100,100,100)
    font-size: 0.9rem
  &__photo
    width: 86vw
    margin: 0.5rem auto 