.chat
    &_title
        margin-top: 1.5vh
        display: flex
        justify-content: center

    &_form
        margin-top: 1.5vh
        display: flex
        justify-content: center
        &_input
        
        &_button
            padding-left: 4px
            padding-right: 4px