.feedback
    @extend %panel

    &--success
        background-color: hsl(86, 81%, 66%)

    &--warning
        background-color: hsl(56, 81%, 66%)

    &--error
        background-color: hsl(14, 81%, 66%)
        color: hsl(16, 18%, 88%)
    
    width: 40%
    height: 30%
    margin: 1rem auto

    background-color: #D7D9DA