.form

    display: flex
    flex-direction: column
    align-items: center

    >label
        color: green
    >input
        margin-bottom: .5rem
    >button
        width: 100%
        margin-top: 1rem
        margin-bottom: 1rem
        
        