*
    padding: 0
    
%panel
    
    margin: 1.5rem

    
    
    background-color: $panel-back-color

    &__feedback
        color: red

    
    flex-direction: column
    justify-content: center
    align-items: center
    width: 60vw
    height: 50vw
    background-color: #D7D9DA
    font-family: 'Source Sans Pro', sans-serif
    padding: 20px
    margin: 0 auto

    button
        font-family: 'Source Sans Pro', sans-serif
        font-size: 18px
        background-color: hsl(0, 10%, 77%)
        border-radius: 8px

    button:hover 
        background-color: white
        color: #D7D9DA
        font-weight: bold
