@import "reset"
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700)
@import ../components/Landing
@import ../components/Login
@import ../components/Register
@import ../components/MyLineup
@import ../components/PlayerResultLineup
@import ../components/InitialHeader

    
body 
    background-color: #216583
h1
    color: white
    font-size: 30px
    text-align: center
    margin:  5%

h2 
    color: white
    font-size: 20px
    text-align: center
    margin:  10%
