@import ../../style/config.sass

.adminMain
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    text-align: center
    width: 100vw

    h1
        color: $secondary-color

.adminPanel
    margin: 1rem
    display: flex
    justify-content: center
    flex-direction: column

    &__buttons
        margin-top: 1rem
        display: flex
        
        button
            border: 0
    
.myOrdersAdmin

    &__order
        margin-top: 3rem
        grid-template-columns: 800px 300px
        grid-row-gap: 1px
        grid-column-gap: 9px
        display: grid
        text-align: left

        -webkit-transform: perspective(1px) translateZ(0)
        transform: perspective(1px) translateZ(0)
        box-shadow: 0 0 1px rgba(0, 0, 0, 0)
        position: relative
        overflow: hidden

    &__order:before
        content: ""
        position: absolute
        z-index: -1
        left: 51%
        right: 51%
        top: 0
        background: $primary-color
        height: 4px
        -webkit-transition-property: left, right
        transition-property: left, right
        -webkit-transition-duration: 0.3s
        transition-duration: 0.3s
        -webkit-transition-timing-function: ease-out
        transition-timing-function: ease-out

    &__order:hover:before, &__order:focus:before, &__order:active:before 
        left: 0
        right: 0
    
    &__order:hover
        position: relative
        z-index: 3
    
    &__order--data
        margin: 0.5rem
        display: flex
        flex-direction: column
        justify-content: flex-start
        text-align: left

        li
            margin-top: 0.4rem

    &__order--buttons
        display: flex

    &__order:hover

        .status

            &__pending
                color: rgba(orange, 1)
                margin-left: 0.5rem

            &__closed
                color: rgba(red, 1)
                margin-left: 0.5rem            

.statusAdminOrder
    display: flex

    &__pending
        color: $secondary-color
        margin-left: 0.5rem

    &__closed
        color: $secondary-color
        margin-left: 0.5rem