.sequenceContainer
    background-color: rgba(255,255,255,0.3)
    display: block
    text-align: center
.clear
    margin-left:20px
.checkbox
    width: 15px
.checkbox:checked
    color: red

input[type='checkbox']:after
    line-height: 1.5em
    content: ''
    display: inline-block
    width: 22px
    height: 22px
    margin-top: -4px
    margin-left: -4px
    border: 1px solid rgb(192,192,192)
    border-radius: 0.25em
    background-color: #4E8236
    

input[type='checkbox']:checked:after 
    width: 22px
    height: 22px
    border: 3px solid #4E8236
    background-image: radial-gradient(white, green)

    


