.profile
    padding-top: 20%
    &__div
        display: flex
        flex-direction: column
        text-align: center
        justify-content: center
        align-items: center
    &__img
        height: 35vh
        width: 90vw
    &__h2
        padding-top: 4%
        text-align: center
        padding-bottom: 10%
        margin-top: 2%
        font-size: 2em
        margin-bottom: 10px
        font-family: $family
        color: $prussianBlue
    &__h3
        margin-top: 2%
        font-size: 1.5em
        margin-bottom: 10px
        font-family: $family
        color: $prussianBlue
    &__h4
        margin-top: 2%
        font-size: 1em
        margin-bottom: 10px
        font-family: $family
        color: $prussianBlue
    &__a
        border-radius: 10px
        font-size: 1.3em
        margin-left: 35%
        text-decoration: none
        margin-bottom: 5px
        font-family: $family
        color: $white
        background-color: $blue
    &__section
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    &__form
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background-color: white
        font-family: $family
        &--photo
            display: flex
            flex-direction: column
            justify-content: center
.profile__for--button
    background-color: white
    font-family: $family