.duck-results
    @extend %panel

    background-color: #cbd6ce

    display: grid

    text-decoration: none

    color: black

    font-family: 'Open Sans', Arial, Helvetica, sans-serif


    line-height: 50px

    font-weight: 500

    font-size: 1rem

    text-align: center 

    ul
        list-style: none

    img
        width: 333px