
.form-section
  width: 90vw
  padding: 2rem
  margin: auto
  background-color: rgba(255, 255, 255, 0.6)
  box-shadow: 10px 10px 9px -4px rgba(0, 0, 0, 0.2)
  color: rgb(80,80,80)
  text-align: center
  justify-content: center
  flex-direction: column
  align-items: center

.form
  margin-top: 2rem
  
input 
  width: 100%
  height: 2.5rem
  margin: 0.2rem 0 1rem 0
  border: 0.05rem solid #b4b4b4
  padding: 2px
  outline: none

.go-back
  text-decoration: none
  color: rgb(70,70,70)
  font-size: 0.9rem