.day
    margin: 0
    &__header
        margin: auto
        display: flex
        justify-content: space-between
        width: 30%
    &__title
        display: initial
        font-family: Helvetica, Roboto, sans-serif
        font-size: 2rem
    &__month-year
        font-size: 1.2rem
        font-weight: normal
        margin-top: 1em
    &__act
        display: flex
        padding: 0
    &__activity
        display: flex
        flex-direction: column
        width: 20%
    &__chores, &__tags
        text-align: left
    &__list-title
        font-size: 2rem
    &__item
        list-style: none
    &__toolbar
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 24px
    &__toggle
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        text-align: center
        font-size: 0.9em
    &__toggle-option
        border: 1px solid lightgrey
        border-radius: 0
        padding: .75em
        cursor: pointer
    &__toggle-option:first-child
        border-right: none
    &__toggle-option:last-child
        border-left: none
    &__toggle-option--selected
        font-weight: bold
        color: deeppink
    &__search-input
        font-size: .75rem
        padding: .75em

.timetable
    margin: 1em 0 5em 0
    border: 1px solid lightgrey
    width: 100%
    text-align: left
    border-collapse: collapse
    &__tr
        border: 1px solid lightgrey
    &__th
        border: 1px solid lightgrey
        padding: .75em
        font-weight: normal
        color: grey
    &__td
        padding: .75em
        width: 90%