* 
    margin: 0
    padding: 0
    box-sizing: border-box
    
@import base-settings
@import ../components/landing
@import ../components/login
@import ../components/register
@import ../components/register-success
@import ../components/register-or-login
@import ../components/random
@import ../components/feedback
@import ../components/categories
@import ../components/search
@import ../components/results
@import ../components/gif-detail
@import ../components/modal