* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.feedback, .register-or-login, .register-success, .register, .login, .landing {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 2em auto auto auto;
  padding: 30px;
  width: 90%;
  height: 95%;
  text-align: center;
}

.detail__back, .random__back, .register-or-login__back, .register-success__login, .register__back, .login__back {
  color: grey;
  text-decoration: none;
}

.search__input, .register__input, .login__input {
  width: 95%;
  margin-top: 0.5em;
  border-radius: 5em;
  border: none;
  outline: none;
  padding: 15px;
  font-size: 18px;
}

.search__button, .register__button, .login__button {
  background-color: #45b39c;
  color: white;
  border: none;
  padding: 15px;
  font-size: 18px;
}

.body {
  background: linear-gradient(-45deg, #1CFF1B, #FF5128, #9422E8, #1EC0FF);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  padding: 0;
  font-family: "Cousine", sans-serif;
  font-size: 1.2rem;
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.body__header {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2em;
  text-align: center;
  font-family: Bungee;
  font-size: 2rem;
  padding: 1em 0 3em 0;
}
.body__header-title1 {
  text-decoration: none;
  color: white;
}
.body__header-title2 {
  font-size: 1.2rem;
}
.body__main {
  margin-top: 3em;
  min-height: 100vh;
}
.body__footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2em;
  text-align: center;
  width: 100%;
  font-size: 1rem;
}

.landing {
  padding: 0;
}
.landing__header {
  position: absolute;
  top: 5em;
  left: 50%;
  margin-left: -256px;
}
.landing__header-menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  magin: 2em;
  padding: 0;
}
.landing__header-item {
  background-color: white;
  width: 10em;
  margin: 3em;
  border-radius: 5em;
  padding: 10px;
  font-size: 16px;
}
.landing__header-register, .landing__header-login {
  width: 50px;
  color: black;
  text-decoration: none;
}
.landing__header-register:hover, .landing__header-login:hover {
  background-color: deeppink;
  color: white;
}
.landing__title {
  text-align: center;
  padding: 25px;
}

.login {
  background-color: white;
  font-family: "Cousine", sans-serif;
  border-radius: 0.5em;
}
.login__form {
  padding: 1px;
}
.login__title {
  color: #502666;
}
.login__item {
  list-style: none;
  margin-top: 0.5em;
}
.login__input {
  border: 1px solid lightgray;
}
.login__button {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.2em;
  background: linear-gradient(-45deg, #FF5128, #9422E8, #1EC0FF);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  padding: 10px;
  font-size: 22px;
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.login__back:hover {
  color: deeppink;
}

.register {
  background-color: white;
  font-family: "Cousine", sans-serif;
  border-radius: 0.5em;
}
.register__form {
  padding: 1px;
}
.register__title {
  color: #502666;
}
.register__item {
  list-style: none;
  margin-top: 0.5em;
}
.register__input {
  border: 1px solid lightgray;
}
.register__button {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.2em;
  background: linear-gradient(-45deg, #FF5128, #9422E8, #1EC0FF);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  padding: 10px;
  font-size: 22px;
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.register__back:hover {
  color: deeppink;
}

.register-success {
  font-family: "Cousine", sans-serif;
  border-radius: 0.5em;
}
.register-success__copy {
  color: white;
}
.register-success__login {
  background-color: white;
  padding: 0.5em;
  border-radius: 0.2em;
  z-index: 1em;
}
.register-success__login:hover {
  color: deeppink;
}

.register-or-login {
  font-family: "Cousine", sans-serif;
  border-radius: 0.5em;
}
.register-or-login__list {
  padding-top: 3em;
  padding-bottom: 5em;
}
.register-or-login__item {
  list-style: none;
  margin-top: 2em;
}
.register-or-login__title {
  color: white;
}
.register-or-login__register, .register-or-login__login {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
}
.register-or-login__register:hover, .register-or-login__login:hover {
  background-color: white;
  color: deeppink;
}
.register-or-login__back:hover {
  color: deeppink;
}

.random__tv-icon {
  max-width: 20%;
}
.random__tv-remote {
  max-width: 20%;
}
.random__title {
  font-size: 33px;
}
.random__photo {
  max-width: 80%;
  margin: auto;
}
.random__back {
  margin: 1em auto 2em auto;
}
.random__back:hover {
  color: deeppink;
}

.feedback {
  margin-bottom: 2em;
  font-size: 16px;
}
.feedback--error {
  background-color: rgba(100, 0, 0, 0.65);
  color: white;
}
.feedback--warn {
  background-color: yellow;
}
.feedback--success {
  color: green;
}

.search {
  margin: 2em auto 2em auto;
}
.search__label {
  display: none;
}
.search__input {
  text-align: center;
}
.search__button {
  background-color: grey;
  margin: 1em auto 1em auto;
}

.results {
  margin: 2em auto auto auto;
}
.results__list {
  display: grid;
  grid-template-columns: 1;
  align-items: center;
  justify-items: center;
  list-style: none;
  padding: 0;
  font-size: 16px;
}
.results__item {
  margin: 2em;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.results__image {
  max-width: 300px;
  border-radius: 2em;
}
.results__favorites {
  background-color: grey;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  margin-top: 1em;
  max-width: 70%;
}
.results__favorites:hover {
  background-color: deeppink;
}
.results__favorites:active {
  background-color: black;
  color: white;
}

.detail {
  margin: 2em auto auto auto;
  padding: 5em;
}
.detail__title {
  font-size: 33px;
}
.detail__photo {
  max-width: 80%;
  margin: auto;
}
.detail__link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.detail__link:hover {
  color: gray;
}
.detail__back {
  margin: 1em auto 2em auto;
}
.detail__back:hover {
  color: deeppink;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(10, 10, 10, 0.3);
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
}
.modal > main {
  background-color: white;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
