.feedback
    @extend %panel

    font-style: oblique 

    &--success
        background-color: darkgreen

    &--warning
        background-color: darkyellow

    &--error
        background-color: crimson
        color: white