%panel
    padding: 2rem
    margin: 2rem

    +round-border(0.2rem, 0.3rem, solid, $panel-color)
    
    background-color: $panel-back-color

    &__feedback
        color: red

.panel__back-link
    display: block
    padding-top: 1rem
    color: white

