.feed-sec
  display: flex
  flex-direction: column

.feedback-button
  width: 40vw
  height: 6vh
  margin: 1rem auto
  background-color: rgba(200,200,200,0.5)
  border: 0.05rem solid rgb(180,180,180)
  border-radius: 0.3rem
  text-align: center

.feedback-button:active
  background-color: rgba(200,200,200,1)
  color: rgb(255,255,255)