.footer
    display: block
    clear: both
    margin-top: 20px
    border-top: 1px solid lightgray
    padding: 20px
    width: 100%
    height: 5%
    text-align: right
    font-weight: bold
    color: darkgrey

@media (min-width: 48em)
    .footer
        text-align: center
        border-top: 1rem solid skyblue