.footer
    width: 100%
    margin: 0 
    border-bottom: ridge
    border-bottom-width: 1px
    
    &__menu
        list-style: none
        padding-left: 20px
        
    
    &__description
        font-size: 12px
        margin-top: 0

    &__title
        margin-bottom: 0
        font-style: bond
        font-weight: bold
        font-size: 12px
        
.icons_social_media
    margin-top: 10px
    margin-right: 5px
    opacity: 0.9
        

