.body
    background-image: url("https://images.pexels.com/photos/988872/pexels-photo-988872.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260")
    background-repeat: no-repeat
    background-size: cover
    box-sizing: border-box
    margin: auto
    width: 100vw
    min-height: 100vh
    font-family: "Cousine", sans-serif
    font-size: 22px

@import base-settings
@import ../components/header
@import ../components/lang-selector
@import ../components/search
@import ../components/login
@import ../components/register
@import ../components/register-success
@import ../components/fav-button
@import ../components/duck-results
@import ../components/duck-item
@import ../components/duck-detail
@import ../components/feedback