*
    padding: 0
    margin: 0
    box-sizing: border-box
/* HSL */
body
    width: 100vw
    height: 100vh
@import './var.sass'
@import './Login'
@import './Register'
@import './Header'
@import './Mentor'
@import './ClassList'
@import './RemoveClass'
@import './TeacherList'
@import './RemoveTeacher'
@import './SubjectList'
@import './RemoveSubject'
@import './Profile'
@import './TeacherHome'
@import './Exams'
@import './Homework'
@import './StudentHome'
@import './Subject'
@import './StudentList'
@import './SubjectTeachList'
@import './Feedback'