$blue: #008CD1
$white: #FFFFFF
$red: #CC0605
$bluedark: #01717F
$prussianBlue: #003459

$family: 'Noto Sans KR', sans-serif

$background: linear-gradient(to right bottom, #008cd1, #4099d6, #5fa6da, #7ab3de, #92c0e3)
