main
    clear: both
    
.mosaic-grid
    //display: grid
    //grid-template-columns: 100%
    width: 90%
    margin: 0 auto

.mosaic-grid__container
    position: relative
    padding: 10px 10px 30px
    border: 1px solid lightgray
    height: 10em
    overflow: hidden
    margin-top: 3%

.mosaic-grid__bookmark-button
    color: black
    background-color: transparent
    border: none
    font-size: 2em
    width: 10%
    position: absolute
    right: 0%
    top: 1%

.mosaic-grid__bookmark-button:hover
    color: gold

.mosaic-grid__read-more, .mosaic-grid__rank
    position: absolute
    display: inline-block
    bottom: 0
    padding: 5px
    border: 1px solid lightgray
    background-color: white

.mosaic-grid__read-more
    right: 20px
    text-decoration: none
    font-weight: bold

.mosaic-grid__read-more:hover
    background-color: rgb(60,60,60)
    color: lightgray

.mosaic-grid__title
    font-size: 1.3em
    font-weight: bold

.mosaic-grid__preview


.mosaic-grid__preview--content
    font-size: 1.3em

.mosaic-grid__rank
    font-style: italic

.fa-star
    color: black

.fa-star:hover
    color: gold