$base-color: #05386b
$fontFamily: Lato, sans-serif

.profile
    display: flex
    // flex-direction: column
    // justify-content: center
    border: 1px $base-color black
    font-family: $fontFamily
    color: $base-color
    margin-bottom: 2em
    margin-top: 1em

    &__caches
        

        &-paragraph
            margin: 0
            padding-right: 2em


        &-item
            display: inline
        &-list
            padding: 0
            list-style: none
            display: flex
            flex-direction: row

        &-header

        &-detailsForm
            padding-right: 2em
        
        &-detailsCache
            font-size: 16px
            text-align: center
            border: none
            background: none
            padding: 0
            color: #05386b
            font-weight: 700
            // border: 2px solid #05386b
            

        &-deleteForm

        
        &-deleteCache
            font-size: 16px
            text-align: center
            border: none
            background: none
            padding: 0
            color: Crimson
            font-weight: 700
            // border: 2px solid #05386b 

            

    &__form
        display: flex
        flex-direction: column
        justify-content: center
        width: 20%
        margin: 0 auto

    &__form-button
        font-size: 15px
        text-align: center
        margin: 0 auto  
        margin-top: 4vh
        border: 2px solid #05386b
        background: none
        padding: 1em
        color: #05386b
        font-weight: 700
        max-width: 50%
        

    &__header
        text-align: center

    &__form-label
        font-weight: 700
        margin-top: 0.5vh
        margin-bottom: 0.5vh