/* form settings */
$margin-bottom-wide: 2rem
$margin-bottom-narrow: 1rem
$margin-bottom-wide: 2rem
$margin-bottom-narrow: 1rem
$border-radius: .5em
$width-box: 85%
$height-box: 3rem
$border-box: #ccc
$box-color: #f6f6f6

    
/* color theme 100% */
$deep-blue-100: rgba(64,95,115, 1);
$medium-blue-100: rgba(106,149,166, 1);
$light-blue-100: rgba(201,231,242, 1);
$yellow-100: rgba(242,198,65, 1);
$orange-100: rgba(242,132,68, 1);

/* color theme 75% */
$deep-blue-75: rgba(64,95,115, .75);
$medium-blue-75: rgba(106,149,166, .75);
$light-blue-75: rgba(201,231,242, .75);
$yellow-75: rgba(242,198,65, .75);
$orange-75: rgba(242,132,68, .75);

/* color theme 50% */
$deep-blue-50: rgba(64,95,115, .5);
$medium-blue-50: rgba(106,149,166, .5);
$light-blue-50: rgba(201,231,242, .5);
$yellow-50: rgba(242,198,65, .5);
$orange-50: rgba(242,132,68, .5);

/* color theme 25% */
$deep-blue-25: rgba(64,95,115, .25);
$medium-blue-25: rgba(106,149,166, .25);
$light-blue-25: rgba(201,231,242, .25);
$yellow-25: rgba(242,198,65, .25);
$orange-25: rgba(242,132,68, .25);

/* color theme 10% */
$deep-blue-10: rgba(64,95,115, .1);
$medium-blue-10: rgba(106,149,166, .1);
$light-blue-10: rgba(201,231,242, .1);
$yellow-10: rgba(242,198,65, .1);
$orange-10: rgba(242,132,68, .1);

/* feedback palette */
$alert-high: rgba(204,51,0,1);
$alert-low: rgba(204,51,0,.5);
// $alert-low: rgba(255,153,102,1);
$warning-high: rgba(255,204,0,3);
$warning-low: rgba(255,204,0,1);
$success-low: rgba(153,204,51,.5);
$success-high: rgba(51,153,0,1);