.hidden
    display: none
    
@media screen and (min-width: 840px) 
    .hidden
        display: initial

    .footer
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        padding: 2em

        &__menu
            display: flex
        &__item
            list-style: none
            padding-right: 2em
            font-size: .75rem
        &__link
            text-decoration: none
            color: grey
            font-size: .75rem
        &__link:hover, .fab:hover
            color: deeppink
            
    .fab
        text-decoration: none
        color: black
        font-size: .85rem
        margin: auto -2em auto 2em 