body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* make it look decent enough */
  color: #696666;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.nav {
  width: 100%;
  height: 15%;
  background-color: white;
}

.menu-nav__list {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

.menu-nav__list:hover {
  color: grey;
}

.nav__menuToggle {
  display: block;
  position: relative;
  top: 30px;
  left: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.nav__menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

.nav__menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #696666;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.nav__menuToggle span:first-child {
  transform-origin: 0% 0%;
}

.nav__menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.nav__menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

.nav__menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.nav__menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.nav__menu {
  position: absolute;
  width: 300px;
  height: 570px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.nav__menu li {
  padding: 10px 0;
  font-size: 12px;
}

/* * And let's slide it in from the left
 * */
.nav__menuToggle input:checked ~ ul {
  transform: none;
}

.nav__branch {
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size-adjust: 25%;
}

.main {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
}

.ini-section__post {
  width: 80%;
  background: url(comfort-comfortable-contemporary-920382.jpg);
  background-size: cover;
  opacity: 0.5;
  align-content: center;
  min-height: 150px;
  max-width: 100%;
  padding: 20px;
  border-radius: 8px;
  margin: 7%;
}

.ini-section__post:hover {
  opacity: 0.7;
}

.ini-section__find {
  width: 80%;
  background: url(bistro-blur-cafeteria-1833306.jpg);
  background-size: cover;
  opacity: 0.5;
  align-content: center;
  min-height: 215px;
  max-width: 100%;
  padding: 20px;
  border-radius: 8px;
  margin-left: 7%;
}

.ini-section__find:hover {
  opacity: 0.7;
}

.ini-section__letter {
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  opacity: 0.9;
  color: #333;
}

.footer {
  width: 100%;
  height: 5%;
  bottom: 0;
}

.footer__menu {
  width: 90%;
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: space-between;
  font-size: 12;
  padding: 0 5%;
}

.menu-footer__list {
  width: 30%;
}

/*# sourceMappingURL=ini-page.css.map */
