
.text
    background-color: $feedback
    margin: 30px 15px
    padding: 10px 5px
    border-radius: 7px

.alert
    background-color: $feedback
    color: $alert

.link
    margin: 50px 15px

.link > a
    margin: 0 20px

    

.img-panel
    display: flex
    flex-wrap: wrap


.button
    text-align: center
    margin: 5px auto
    width: 70px
    height: 20px
    border: none
    border-radius: 15px

    &--style1
        background-color: $title-color
    
    &--style2
        background-color: #ff8802
   
    &--a
        width: 150px
        padding: 10px
        background-color: $title-color
        border-radius: 10px

    &--a:hover
        background-color: white
        border: 2px solid $title-color
        color: $title-color
        

    &--a:active
        font-weight: bold
        border: 1px solid $title-color

.button:hover
     background-color: white
     border: 2px solid $title-color
     color: $title-color

.button:active
    font-weight: bold
    border: 1px solid $title-color



   
.duck-detail
    &__photo
        width: 50%
        