$primary-font: 'Roboto', sans-serif

$main-font-color: #c1c1c1
$secondary-font-color: #000
$third-font-color: #555555
$title-color: #ED3D42

$main-background-color: #fff
$secondary-background-color: #F4F4F4

$border-color: #AEAEAE
