.create-teams
    background-color: #394a6d
    width: 100vw
    height: 100vh
    

    &__link
        color: white
        text-decoration: none
        background-color: black
        font-size: 18px
        display: block
        padding: 3%
        width: 25%
        margin: 5% auto
        text-align: center
    
.players-create
    background-color: #394a6d
    
   
    
li
    list-style: none

