/* Layout Mobile */
/* ----- ----- RESET ----- ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----- ----- GENERAL ----- ----- */
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #969494
}

h2 {
    color: black;
}

a {
    text-decoration: none;
    color: #969494
}

a:hover {
    text-decoration: underline;
}
/* ----- ----- HEADER ----- ----- */

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    padding: 17px 20px 17px;
}

.border {
    border-bottom: 1px solid #969494;
}

.logo > i,
nav > ul > li > i {
    align-self: flex-end;
}

/* ----- ----- HEADER - MENU ----- ----- */

header > nav > ul > li {
    padding: 14px 20px 14px;
}


header > nav > ul {
    list-style-type: none;
    overflow: hidden;
}

header > nav > ul > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header > a > img {
    width: 80%;
}

header > i {
    align-self: center;
}

/* ----- ----- MAIN ----- ----- */

main {
    margin: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* ----- ----- MAIN - IMG ----- ----- */

main > figure {
    width: 100%;
    border: 1px solid
}

main > figure > img {
    width: 100%;
    height: auto;
}

/* ----- ----- MAIN - TEXT ----- ----- */

main > section {
    background-color: #F6F6F6;
    height: 300px;
    margin-bottom: 3px;
    padding: 45px 25px;
}

main > section > h4 {
    margin-bottom: 20px;
}

main > section > h4 > a,
h4 {
    color: #EC1C24;
}

main > section > p {
    margin-bottom: 20px;
}

/* ----- ----- MAIN - CLAIM ----- ----- */

.claim > p {
    padding: 50px 130px 50px 20px;
}

/* ----- ----- FOOTER ----- ----- */

footer {
    margin-bottom: 25px;
}

/* ----- ----- FOOTER - ADDRESS ----- ----- */

.address,
.subfooter {
    margin: 0 20px;
}

.address > address {
    padding: 20px 0;
}

.address > address > p { 
    margin-top: 10px;
}

/* ----- -----  FOOTER - SOCIAL ----- ----- */

.subfooter > p {
    padding: 10px 0;
}

.social > i {
    margin-right: 5px;
}

/* ----- ----- MEDIA QUERIES ----- ----- */

/* @media screen and (min-width:768) and (max-width:1024px) {

}

@media screen and (min-width:1025px)  {

} */
