@import "../../styles/form.sass"
@import "../../styles/button.sass"

.form-wrapper
    width: 100%
    margin-top: 1rem
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
.form
    width: 75%

