@import base-settings

@import ../components/feedback
@import ../components/form
@import ../components/panel
@import ../components/home
@import ../components/lang-selector
@import ../components/login
@import ../components/register
@import ../components/search
@import ../components/duck-results
@import ../components/duck-detail

body 
    background-color: #c7f0db
    
h1 
    text-align: center
    font-family: 'Playfair Display', serif
    padding: 10px
    color: #464159

a 
    text-decoration: none
    color: #464159
    font-size: 18px    

li 
    list-style-type:  none
