
.landing
    border: 1px solid black
    width: 100%
    height: 100vh
    background-image: url('./img/background.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: fixed
    font-family: 'Cute Font', cursive
    font-size: 2rem
    list-style: none
    color: yellow
nav
    text-align: right
    margin: 30px
li 
    list-style: none
a
    text-decoration: none
    color: yellow

.userName
    font-size: 2.8rem

.myDrumkits
   text-align: center
   margin-top: 25%
