.bookmarks__container
    position: relative
    padding: 1rem 1rem
    border: 1px solid lightgray
    border-radius: 10px
    height: 10em
    overflow: hidden
    margin: 10% auto
    background-color: white
    width: 90%

@media (min-width: 48em)
    .bookmarks__container
        margin: 3% auto