*
    margin: 0
    padding: 0
    border: 0
    box-sizing: border-box
/*header*/

.header
    display: flex
    justify-content: space-between
    background-color: #DDFFE7

.logo
    height: 9vh 
    width: 22vw
    margin-left: 0.5rem

.nav__main--position
    margin-top: 1.2rem
    margin-right: 0.5rem

.nav__list--position
    display: flex
    padding: 5 rem
    & li
        list-style: none
        margin-left: 1em

/*Main*/
.main
    height: 82vh
.sub-nav__list--position
    display: flex
    justify-content: center
    padding: 5 rem
    background-color:#E8EEF1
    & li
        list-style: none
        margin: 1.2rem 0.7rem
        padding-top: 1rem
        margin-top: 0
        margin-bottom: 0
        padding-bottom: 0.5rem
    & li:nth-child(1)
        padding-right: 3.2rem
        border-right: 2px solid #fefffe
        
    & li:nth-child(2)
        padding-left: 2rem

    & li>a
        font-size: 1.4em
        font-family: 'Chilanka', cursive
        text-decoration: none
        color: #167D7F
        
.subject-list
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 0.8rem
    & li
        padding-top: 2rem
        list-style: none
        border-bottom: 1px solid #152025c2
        padding-bottom: 2rem
        width: 100vw
        text-align: center
    & li:last-child
        border-bottom: 0px          
    & li>a
        text-decoration: none
        color: #397591
        font-size: 2em
        font-family: 'Chilanka', cursive

/*footer*/
.social
    background: #DDFFE7
    height: 9vh