.footer
    width: 100vw
    height: 10vh

    &__paragraph
        text-align: center
        font-family: Lato, sans-serif
        color: #05386b
        font-weight: 700
        font-size: 12px
        padding: 20px
        