// BREAKPOINTS
$layout-breakpoint-md: 769px

@media (min-width: $layout-breakpoint-md)
    .top-navigation
        &__presentation
            diplay: block

    .contact-business
        font-weight: 400
        font-size: 1.7rem
        line-height: 2rem
        margin-bottom: 4rem

    .footer-info
        flex-direction: row
        justify-content: space-between
    
    .info-social
        flex-direction: row