// BREAKPOINTS
$layout-breakpoint-desktop: 1401px
$font-size: 1.25rem

@media (min-width: $layout-breakpoint-desktop)
    .top-navigation
        
        &__presentation
            font-size: $font-size
            line-height: 1.75rem
        &__max-nav
            >ul
                >li
                    >a
                        font-size: $font-size
                    