.top-navigation
    display: flex
    justify-content: space-between
    align-items: flewx-start
    padding: 3% 1% 2%
    bottom: 50px
    border-bottom: 1px solid #ccc

    &__presentation
        display: none

    &__logo
        width: 10rem
        >img
            width: 50%
            padding-top: .15rem
            height: auto

    &__max-nav
        display: none
    
    &__min-nav
        width: 6%
        .min-nav__icon
            width:100%