.categories
    &__list
        list-style: none
        display: flex
        flex-wrap: wrap
        justify-content: center

    &__item
        margin: .4em .25em

    &__tag
        color: $secondary-text-color
        text-decoration: none
        border: 1px solid white
        border-radius: 5em
        padding: 7px
        font-size: 13px

    &__tag:hover
        background-color: white
        color: deeppink
        text-decoration: none