
$primary-bg-color: rgba(0, 0, 0, 0.5)
$secondary-bg-color: rgba(255, 255, 255, 0.5)
$terciary-bg-color: rgba(0, 0, 0, 0.1)

$button-bg-color: black
$errror-bg-color: rgba(100, 0, 0, .65)

$primary-text-color: black
$secondary-text-color: white

$link-text-color: grey
$hover-text-color: deeppink
