@import "reset"
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700)

body 
    background-color: #216583
h1
    color: white
    font-size: 30px
    text-align: center
    margin:  5%

h2 
    color: white
    font-size: 20px
    text-align: center
    margin:  10%




//Links de acceso y navegación en login y register

.links
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    

a 
    color: black
    text-decoration: none
    background-color: white
    font-size: 18px
    display: block
    padding: 3%
    width: 25%
    margin: 5px auto
    text-align: center
   

//login y register

form
    padding: 10%
    text-align: center

.form-inputs
    display: flex
    flex-direction: column
    flex-wrap: nowrap

label
    font-size: 18px

input
    padding: 2%
    margin: 2%

//register successful

.register-successful
    margin: 20%
    text-align: center

    a
        margin-top: 5%



//Header principal main app

.header-app
    background-color: white
    padding: 10px
    text-align: center
    font-size: 25px

.header-access
    padding: 10%

button
    margin: 0 auto

//navbar navigation main app

.navigation

    display: flex
    

    a 
        font-size: 14px
        padding: 3%
    
//profile link navbar

.profile
    text-align: center
    


.invite
    text-align: center
    margin:20% auto

//Players team



.players
   
    margin: auto
    width: 50%
    border: 1px solid #f7be16
    padding: 5px
    

    p
        text-align: center

    a 
        font-size: 12px   
        

    //player detail

.player

    margin: auto
    width: 50%
    border: 1px solid #f7be16
    padding: 20px
    
//Clasification

.clasification
    
    display: flex
    justify-content: space-between
    margin: auto
    width: 50%
    border: 1px solid #f7be16
    padding: 5px

   

//Footer principal

.mainfooter

    display: flex
    padding: 5px
    position: fixed
    left: 0
    bottom: 0
    width: 100%
    background-color:  white
    color: black
    text-align: center

    a 
        color: black
        text-decoration: none
        background-color: white
        font-size: 16px
        padding: 3%
        margin: 5px auto
        text-align: center


//Title  main application

.titleApp
    margin: 5%


//Container lineUp


.container
    display: grid
    grid-template-columns: auto auto auto auto
    background-color: #00818a
    padding: 10px
    border-radius: 10px
    grid-gap: 25px 10px
    

.item 

    background-color: #293462
    border: 1px solid #fff
    padding: 20px
    font-size: 20px
    text-align: center

.item1
    width: 10%
    margin: 0 auto
    grid-column-start: 1
    grid-column-end: 5
   
.item10
    width: 20%
    margin: 0 auto
    grid-column-start: 1
    grid-column-end: 3

.item11

    width: 20%
    margin: 0 auto
    grid-column-start: 3
    grid-column-end: 5

button
    color: black
    background-color: white
    font-size: 16px
    display: block
    padding: 5px
    width: 30%
    margin: 10px auto
    text-align: center 




// body
    
//     background-image: url('https://images.unsplash.com/photo-1517747614396-d21a78b850e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1482&q=80') 
//     background-repeat: no-repeat 
//     background-position: center center
//     background-attachment: fixed
//     // background-size: 100% 100%
//     background-size: cover
//     background-color: #464646

//     /* Set rules to fill background */
//     min-height: 100%
//     min-width: 1024px
        
//     /* Set up proportionate scaling */
//     width: 100%
//     height: auto
        
//     /* Set up positioning */
//     position: fixed
//     top: 0
//     left: 0


// section
//     text-align: center
//     margin: 0 auto

// @media only screen and (max-width: 767px) 

//     body 
//     /* The file size of this background image is 93% smaller
//        to improve page load speed on mobile internet connections */
//         background-image: url(https://images.unsplash.com/photo-1517747614396-d21a78b850e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1482&q=80)

// @media screen and (max-width: 1024px)  
//     /* Specific to this particular image */

//     body
//         left: 50%
//         margin-left: -512px  
//     /* 50% */
    

// // body, html 
// //   height: 100%


// // .bg 
// //   /* The image used */
// //   background-image: url("https://images.unsplash.com/photo-1517747614396-d21a78b850e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1482&q=80")

// //   /* Full height */
// //   height: 100%

// //   /* Center and scale the image nicely */
// // //   background-position: center
// //   background-repeat: no-repeat
// //   background-size: cover

