$grey: #373636
$red: #D63E3E
$font: Arial, Helvetica, sans-serif
       
.login-container
    display: flex
    flex-direction: column
    height: 100vw
    width: 100vw
   
.login-header
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 8rem
    margin-top: 1.5rem

    &--h2
        margin-bottom: -0.5rem

.login-form
    padding-left: 15%
    display: flex
    width: 75%
    margin: 1rem 0

.login-input
    height: 2.5rem
    margin: 0.5rem 
    margin-left: 2.5%
    border: none
    border-radius: 10px
    color: $red
    font-size: 1.2rem
    padding-left: 0.5rem
    border: 1px solid black

.login-panel-bttn
    margin-top: 1rem
    width: 80%
    margin-left: 6%
    height: 2rem
    background-color: $red
    color: white
    border-radius: 3px
    font-size: 1rem
    border: none

.toregister-text
    margin: 1rem 0
    width: 75%
    border-top: 1px solid black
    font-size: 0.8rem
    text-align: center
    padding-top: 1rem
    margin-left: 12%

.toregister-link
    color: black

.login-text
    width: 75%
    height: 10rem
    margin-top: 1rem
    display: flex
    flex-direction: column
    justify-content: center
    padding-left: 12.5%

.login-text-p
    font-size: 2rem
    font-weight: bold
    border-left: 5px solid $red
    padding: 0.5rem

.icon-login
    color: black
    margin-top: 2rem
    font-size: 1.8rem
    padding-left: 1rem

.login-placeholder
    width: 100vw
    margin-left: 0.5rem
    font-size: 0.8rem

.login-error
    text-align: center
    text-size: 1rem
    color: red
    padding: 0.5rem
    margin-left: 1rem
    width: 75%
    background-color: white
    border-radius: 8px
    border-bottom: 4px solid red
   

    
    
    
   