.email
  background-color: #fefefe
  padding: 0
  margin: 25% 7% 0 5%
  padding-bottom: 20px
  margin-top: 25%
  height: 65vh
  
  &__write
    width: 100%
    border: solid 1px gray
    margin-bottom: 5%
  
    &--description
      width: 99%
      height: 150px
      border: solid 1px gray
      margin-bottom: 5%
      margin-right: 8px

  &__button
	  text-decoration: none
	  padding: 2%
	  border-radius: 0px 
	  border: none
	  box-sizing: border-box
	  background-color: #ebebeb

    