/* --- Initial App --- */
.body {
  background-image: url("https://cdn.pixabay.com/photo/2016/02/11/14/59/fruits-1193727_960_720.png");
  background-repeat: repeat;
  background-size: contain;
  box-sizing: border-box;
  margin: auto;
  font-family: sans-serif;
  font-size: 22px;
  overflow: auto;
}
.body__header {
  background-color: black;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}
.body__main {
  min-height: 80vh;
  margin-bottom: 5em;
}
.body__footer {
  background-color: black;
  color: white;
  padding: 15px;
  text-align: center;
  margin-top: -50px;
}

.panel--show {
  display: block;
}

.panel--hide {
  display: none;
}

.intro {
  background-color: rgba(100, 100, 100, 0.65);
  color: yellow;
  margin: 3em auto auto auto;
  padding: 30px;
  width: 70%;
  font-size: 28px;
  text-align: center;
}
.intro__title {
  margin: 0;
  padding: 25px;
}
.intro__register, .intro__login {
  color: lightGreen;
  text-decoration: none;
}

.register {
  background-color: rgba(100, 100, 100, 0.65);
  color: yellow;
  margin: 3em auto auto auto;
  padding: 30px;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.register__form {
  padding: 5px;
}
.register__item {
  list-style: none;
  margin-top: 2em;
}
.register__input {
  width: 95%;
  margin-top: 0.5em;
  border: 1px solid darkGray;
  border-radius: 10px;
  outline: none;
  padding: 15px;
  font-size: 18px;
}
.register__button {
  background-color: #fff000;
  color: green;
  border: none;
  padding: 15px;
  font-size: 18px;
  font-size: 22px;
}
.register__back {
  color: lightGreen;
  text-decoration: none;
  text-align: right;
}

.confirmation {
  background-color: rgba(100, 100, 100, 0.65);
  color: yellow;
  margin: 3em auto auto auto;
  padding: 30px;
  width: 70%;
  text-align: center;
}
.confirmation__input {
  width: 95%;
  margin-top: 0.5em;
  border: 1px solid darkGray;
  border-radius: 10px;
  outline: none;
  padding: 15px;
  font-size: 18px;
}
.confirmation__button {
  margin-top: 2em;
  font-size: 22px;
}

.login {
  background-color: rgba(100, 100, 100, 0.65);
  color: yellow;
  margin: 3em auto auto auto;
  padding: 30px;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.login__form {
  padding: 5px;
}
.login__item {
  list-style: none;
  margin-top: 2em;
}
.login__input {
  width: 95%;
  margin-top: 0.5em;
  border: 1px solid darkGray;
  border-radius: 10px;
  outline: none;
  padding: 15px;
  font-size: 18px;
}
.login__button {
  background-color: #fff000;
  color: green;
  border: none;
  padding: 15px;
  font-size: 18px;
}
.login__back {
  color: lightGreen;
  text-decoration: none;
  text-align: right;
}

.home {
  background-color: rgba(100, 100, 100, 0.65);
  color: yellow;
  margin: 3em auto auto auto;
  padding: 30px;
  width: 70%;
  text-align: center;
}
.home__label {
  display: none;
}
.home__input {
  width: 95%;
  margin-top: 0.5em;
  border: 1px solid darkGray;
  border-radius: 10px;
  outline: none;
  padding: 15px;
  font-size: 18px;
  width: 80%;
  margin-bottom: 2em;
}
.home__button {
  background-color: #fff000;
  color: green;
  border: none;
  padding: 15px;
  font-size: 18px;
}
.home__logout {
  color: lightGreen;
  text-decoration: none;
  text-align: right;
}

.error {
  background-color: rgba(100, 0, 0, 0.65);
  color: white;
  width: 70%;
  margin: 1em auto auto auto;
  padding: 30px;
}
.error__title {
  font-weight: bold;
  font-size: 22px;
}

.search {
  background-color: rgba(100, 100, 100, 0.65);
  color: yellow;
  margin: 3em auto auto auto;
  padding: 30px;
  width: 70%;
  width: 80vw;
}
.search__list {
  color: yellow;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.search__item {
  list-style: none;
  margin: 2em;
  padding: 10px;
}
.search__image {
  max-width: 80%;
}

/*# sourceMappingURL=style.css.map */
