.header
    &__lang-selector
        list-style: none
        display: flex
        justify-content: flex-end
        margin: 0
        padding: 0
    
    &__lang-option
        padding: 15px

    &__lang-button
        @extend %button
        font-size: 12px