*
    margin: 0
    padding: 0
    border: 0
    box-sizing: border-box
/*header*/

.header
    display: flex
    justify-content: space-between
    background-color: #DDFFE7

.logo
    height: 9vh 
    width: 22vw
    margin-left: 0.5rem

.nav__main--position
    margin-top: 1.2rem
    margin-right: 0.5rem

.nav__list--position
    display: flex
    padding: 5 rem
    & li
        list-style: none
        margin-left: 1em

/*main*/
.messages
    padding-top: 1.5rem      
    font-family: "Chilanka", cursive
    height: 82vh
    font-size: 2em
    color: #397591
    & h3
        padding-top: 1.5rem
    & a 
        padding-top: 1.5rem
        text-decoration: none
        color: #397591
    & a>h5
        padding-top: 1.5rem


    

.back
    margin-top: 2rem
    margin-bottom: 2rem
    height: 12vw
    width: 40vw
    font-size: 1em
    & a 
        text-decoration: none
        text-align: center
    

/*footer*/        
.social
    background: #DDFFE7
    height: 9vh