$base-color: #05386b
$fontFamily: Lato, sans-serif

.details
    display: flex
    flex-direction: column
    padding: 4vh
    font-family: $fontFamily
    color: $base-color
    margin-bottom: 2vh

    &__list
        font-size: 14px
        list-style: none
        display: flex
        flex-direction: column
        font-weight: 700

        &-item
            margin-bottom: 0.6vh

    &__form
    
        font-size: 16px
        width: 100vh
        display: flex
        flex-direction: column

    &__comment
        font-size: 14px
        list-style: none
        display: flex
        flex-direction: column

        &-title
            margin: 2vh
            font-size: 16px
    
        &-list
            padding: 0.8vh
            list-style: none
            border: 0.1px solid black
            margin-bottom: 1vh
        &-button
            font-size: 14px
            display: flex
            justify-content: center
            text-align: center
            margin: 0 auto
            margin-top: 2vh
            border: 2px solid #05386b
            background: none
            padding: 1vh
            color: #05386b
            font-weight: 700
            width: 40%



    
          

