.home
    border: 0rem solid skyblue

.button
    backface-visibility: hidden
    position: relative
    cursor: pointer
    display: inline-block
    white-space: nowrap
    background: #446ade
    border-radius: 11px
    border: 3px solid #ffffff
    border-width: 3px 3px 3px 3px
    padding: 13px 16px 12px 16px
    color: #ffffff
    font-size: 16px
    font-family: arial
    font-weight: 300
    font-style: normal