* {
  margin-left: 0;
}

.menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__li {
  margin-left: 2%;
  display: none;
}

.menu--top {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10%;
  border-bottom: 1px solid gray;
  padding-bottom: 2vh;
}

.header__presentation {
  display: none;
}

.nav {
  height: 10%;
}

.nav__border {
  border-bottom: 1px solid lightgray;
}

.article__information {
  background-color: lightgray;
  border: 1px solid white;
  width: 100%;
}

.footer {
  height: 20%;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu {
    padding-right: 80px;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .article :nth-child(2) {
    padding-right: 1%;
  }
  .article__information {
    width: 49%;
    margin: 0;
    padding: 0;
  }
  .square {
    padding: 0;
  }
  .main__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .img {
    width: 50%;
    padding: 0;
  }
  .nav__border {
    margin: 2%;
  }
  .menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 5%;
    width: 100%;
  }
  .footer__footer__information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2vh;
    width: 100%;
  }
  .footer__address {
    width: 50%;
    margin: 0;
  }
  .social_networks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .social_networks :nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .social_networks :nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .social_networks__suscribe {
    padding-left: 20vh;
  }
  .content-socialmedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* DESKTOP */
@media (min-width: 1025px) {
  .li {
    margin: 2%;
  }
  .menu {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__presentation {
    display: block;
    width: 40%;
  }
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .main__img {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (25%)[4];
        grid-template-columns: repeat(4, 25%);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    height: 30%;
  }
  .img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .img__big3 {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
  }
  .img__big6 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 5;
  }
  .img__big9 {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 5;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 6;
  }
  .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .article__information {
    margin: 0;
    padding: 0;
    width: 33%;
  }
  .nav__border {
    margin: 2%;
  }
  .menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 5%;
    width: 100%;
  }
  .footer__information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2vh;
    width: 100%;
  }
  .footer__address {
    width: 25%;
    margin: 0;
  }
  .social_networks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .social_networks :nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .social_networks :nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .social_networks__suscribe {
    padding-left: 40vh;
  }
}
/*# sourceMappingURL=style.css.map */