$bkc: lightgray

body 
    padding-top: 10%

*
    margin-left: 0

.menu
    list-style: none
    display: flex

    &__li
      margin-left: 2%  
      display: none

    &--top
        display: none
    
    &__red
        list-style: block
        padding: 2%
 
.header
    display: flex
    border-bottom: 1px solid gray
    padding-bottom: 2vh
    top: 0
    left: 0
    background-color: white
    width: 100%
    position: fixed
   
    &__presentation
        display: none
        width: 40%

.logo
    padding: 2%
    width: 20%

.nav
    height: 10%
    &__border
        border-bottom: 1px solid $bkc
        margin-left: 1%

.article__information
    background-color: $bkc
    border: 1px solid white
    width: 100%

.square
    padding: 2%

.footer
    padding-left: 2%



@media (min-width: 768px) and (max-width: 1024px)
    .header
        justify-content: space-between 
 
    .menu
        display: flex
        justify-content: flex-end 
        
        &__li
            display: block 
          

    .nav
        display: flex
        justify-content: flex-end
        
        &__border
            border: 0

        
    .article
        display: flex
        flex-wrap: wrap
     
   
    .article__information
        width: 49.7%
       
        
    .main__img
        display: flex
        flex-wrap: wrap

    .img
        width: 50% 
        padding: 0
        
    .menu
        display: inline-flex
        list-style:none
        
        &__red
            padding: 5px

    .footer
        display: flex
        flex-wrap: wrap

        &__footer__information
            font-size: 1rem
            width: 100%

        &__address
            width: 50%
            margin: 0 
            justify-content: space-around

  

/* DESKTOP */

@media (min-width: 1025px) 
    .li
        margin: 2%
        
    .menu
        display: flex
        justify-content: flex-end
        &__li
            display: block


    .header__presentation
        display: block

    .header
        justify-content: space-between
        
    .nav
        display: flex
        justify-content: flex-end
        
        &__border
            border: 0

    .main__img
        display: grid
        grid-template-columns: repeat(4, 25%)
        grid-template-rows: repeat(4, 1fr)
        height: 30%
        
        
    .img 
        width: 100%
        height: auto
        object-fit: cover
        
        &:hover 
            opacity: 0.9
        
    .img__big3 
        grid-column-start: 3
        grid-column-end: 5
        grid-row-start: 1
        grid-row-end: 3
        
    .img__big6 
        grid-column-start: 1
        grid-column-end: 3
        grid-row-start: 3
        grid-row-end: 5
        
    .img__big9 
        grid-column-start: 3
        grid-column-end: 5
        grid-row-start: 4
        grid-row-end: 6
        
    .article
        display: flex 
        flex-wrap: wrap

        &__information
            margin: 0
            padding: 0
            width: 33.1%
    

    .menu
        display: inline-flex
        list-style:none

    .footer
        display: flex
        flex-wrap: wrap
        margin-left: 2%
        width: 100%

        &__information
            display: flex
            font-size: 2vh
            width: 100%

        &__address
            width: 25%
            margin: 0 
    
    .social_networks
        display: flex
        flex-direction: row-reverse
        justify-content: space-between

        &__copy
            margin-rigth: 200px

    .social_networks__bloc
        display: flex
        padding-left: 500px
    
    .menu__red
        padding: 5px



    
