.container__background 
    background-image: url('https://cdn.pixabay.com/photo/2015/03/26/09/58/headphones-690685_960_720.jpg')
    padding: 50px
    background-position: center
   
.container__title
    font-size: 40px