.modal 
  padding-top: 100px 
  left: 0
  top: 0
  width: 99vw
  height: 99vh
  overflow: auto
  background-color:rgba(255,0,0,0.6)
  
  &__button
	  text-decoration: none
	  padding: 2%
	  border-radius: 0px 
	  border: none
	  box-sizing: border-box
	  background-color: #ebebeb

  &__p
    font-size: 14px


.modal-content 
  position: relative
  background-color: #fefefe
  margin: auto
  padding: 0
  border: 1px solid #888
  width: 80%
  padding-bottom: 20px

  
.close 
  color: gray
  float: right
  font-size: 28px
  font-weight: bold
  margin-top: -20px
  margin-right: 10px
  text-decoration: none


.close:hover
  color: #000
  text-decoration: none
  cursor: pointer


.register-title
  margin-left: 6%

.modal__header 
  padding: 2px 16px
  background-color: #5cb85c
  color: white


.modal__body 
  padding: 2px 16px
  display: flex
  flex-direction: column


.modal__input
  width: 100%
  margin: 2px
  border: solid 1px gray
  margin-bottom: 5%

.feedback
  font-size: 14px


