
$primary-text-color: black
$secondary-text-color: white
$terciary-text-color: grey

$link-text-color: grey

$primary-button-color: black
$secondary-button-color: lightgrey

$primary-hover-color: deeppink
$secondary-hover-color: grey
$terciary-hover-color: black