$grey: #373636
$red: #D63E3E
    
.gender-container
    width: 75%
    padding: 12.5%
    display: flex
    flex-direction: column
    justify-content: center

.female-bttn
    font-size: 1.5rem
    color: white
    margin: 2rem 0 3rem 0
    background-image: url('../../resources/fit.png')
    background-size: cover
    background-position-y: -25px
    height: 3.5rem
    border-radius: 8px
    border: none

.male-bttn
    font-size: 1.5rem
    color: white
    height: 3.5rem
    background-image: url('../../resources/gain.jpg')
    background-size: cover
    background-position-y: -65px
    border-radius: 8px
    border: none

.gender-text
    width: 75%
    border-left: 4px solid $red
    padding-left: 0.8rem

.question-gender
    width: 60%
    margin-top: 1.5rem
    font-size: 1.1rem

.line-gender
    margin-top: 4.5rem
    margin-left: 4rem
    width: 150px
    border-top: 5px solid $red

.icon-gender
    font-size: 1.8rem
    margin-top: 8rem
    margin-left: -0.5rem
    