%base-panel
    padding: 0.5rem

    +round-border(0.01rem, 0.1rem, solid, #0f0f0f)
    
    background-color: #0f0f0f
    
    height: 20vh

    min-width: 100px


%text-link
    color: #fbff00

    font-family: 'Open Sans', Arial, Helvetica, sans-serif

    text-decoration: none

    line-height: 50px

    font-weight: 500

    font-size: 1.5rem

    text-align: center 
    &:hover
        color: $color-link-hover

%letters
    color: #ffffff

    font-family: 'Open Sans', Arial, Helvetica, sans-serif

    font-size: 1rem

    font-weight: 200

    line-height: 30px

    margin: 10px

    text-align: center 


            

            

    