li
    list-style: none
    font-size: 1.3rem
    margin: 3px
    background-color: #4f4c4c
    border-radius: 5px
    cursor: pointer

    

li:hover
    background-color: #f74f31
    
.category
    margin: 0
    color: black
    text-align: center

.category:hover
    color: whitesmoke

.categories
    width: 200px
    