$red: #D63E3E
    
.userdata-container
    display: flex
    flex-direction: column
    justify-content: center
    background-color: #373636
    height: 100%
    width: 100%

    &__mid-wrapper
        margin-top: -20%
        margin-left: 12.5%
        width: 75%
        height: 80%
        color: white

        &--text
            font-size: 1.2rem
       
       

    .userdata
        display: flex
        flex-direction: column
        justify-content: center
        
        &__input
            height: 2.5rem
            border-radius: 10px
            border: none
            padding-left: 0.5rem
            font-size: 1.2rem
            color: $red
        
        &__label
            padding-bottom: 0.5rem
            margin-top: 10%
            color: white
            padding-left: 0.5rem

.generate-bttn
    margin-top: 3rem
    margin-left: 10%
    height: 2rem
    width: 75%
    background-color: $red
    color: white
    border-radius: 5px
    font-size: 1rem
    border: none

            
.icon-userdata
    font-size: 1.8rem
    margin-top: 7rem
    margin-left: -0.5rem
    color: white

    
        
        


