$panel-color-yellow: rgba(255, 246, 166, 0.5)
$panel-back-color-yellow: rgba(255, 246, 166, 0.5)

$panel-back-color-button-yellow: rgba(255,255,255, 0.3)
$text-color: #2b2b2b
    
$color-link-hover: rgba(251, 255, 0, 0.8)

