*
    margin: 0 1px

html 
    margin: 0
    padding: 0
    overflow-x: hidden
    box-sizing: border-box

body 
    margin: 0
    width: 0

ul
    list-style-type: none

a
    text-decoration: none
    color: inherit

    