$grey: #373636
$red: #D63E3E

.header
    display: flex
    justify-content: flex-start
    padding-left: 3vw
    height: 3.5rem
    background-color: $grey
    color: white

.fav-h2
    border-left: 5px solid $red 
    padding-left: 0.8rem 
    
.fav-bold
    font-weight: bold

table
    transition: 1s ease-out
    border-left: 5px solid $red
    border-collapse: collapse
    width: 95vw
   

table tr:nth-child(even)
    background-color: #f2f2f2
    
.table-top
    font-size: 0.8rem
    background-color: $red
    height: 25px
    color: white
     
.table-data
    border-left: 5px solid $red
    height: 40px

.favorite-container
    padding-left: 0.8rem

.date-container
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin-bottom: 1rem

    &--cross
        margin-right: 1.5rem
        color: black
       
.fav-bold
    margin-bottom: 0
    border-bottom: 1px solid $red
    width: 75vw

.favfooter
    height: 3.5rem
    background-color: $grey
    position: sticky
    bottom: 0

.fav-icon
    color: white
    font-size: 1.8rem
    padding-left: 1.2rem
    padding-top: 0.9rem
   



    
    
   