.duck-detail

    padding: 2rem
    margin-top: 180px
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: center
    padding-bottom: 7rem

    &__img
        object-fit: cover
        
    &__title
        color: #0791D0
    
    &__footer
        width: 100%
        margin-top: 1rem
        display: flex
        flex-flow: column nowrap
        justify-content: space-between
        align-items: center
        line-height: 2rem
    
    &__anchors
        width: 100%
        display: flex
        justify-content: space-between

    &__link
        color: #0791D0
        text-decoration: none
    
    &__back
        color: #0791D0
        text-decoration: none
    

    