.detail
      
    background-color: #394a6d
    width: 100vw
    
.player-detail
    display: flex
    flex-direction: column
    margin: auto
    width: 100%
    
  
    &__image
        justify-content: center
        width: 89%
        margin: 0 auto
        margin-top: 5%
        border: 1px solid white

    &__content
        display: flex
        width: 85%
        background-color: rgba(0,0,0,0.5)
        flex-direction: column
        border: 0.5px solid white
        padding: 0.5em
        display: flex
        justify-content: center
        margin: 0 auto
        &__name
            font-size: 18px
        &__position
            font-size: 18px
        &__points
            font-size: 18px
        &__goals
            font-size: 18px
        &__cost
            font-size: 18px
