* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica, sans-serif;
    color: rgb(184, 184, 184);
    font-weight: normal;
}

body{
    width: 99vw;
    margin: 0 auto;
    border: 1px solid;
}

header {
    flex-wrap: wrap;
    display: flex;
    padding: 20px;
}

.head1 {
    width: 70%;
}

.head2 {
  width: 30%;
}

.head2 img {
    float: right;

}

nav {
    display: flex;
    padding: 20px;
    border: 1px;
    flex-direction: column;
}


main {
    display: flex;
    flex-wrap: wrap;
}

main div{
    width:50%;
    overflow: hidden;
    
}

main div img{
    width: 100%;
    height: auto;
    padding: 0;
}

footer {
    padding: 30px;
    text-align: center;
}
