.html
    background-image: url('http://static1.squarespace.com/static/5ad632e5cef372d385916334/5ad8f1821ae6cf34b3f33f64/5ada0cac562fa786794ca3c6/1554742517710/rubber+ducks.jpg')
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif

body
    width: 80%
    margin: 0 auto
    background-color: rgba(30,30,30,0.9)