.ducks
    &__item
        &>a 
            text-decoration: none
            color: #0791D0
            display: flex
            justify-content: center
            align-items: center
            flex-flow: column nowrap
            text-align: center

    &__img
        height: 80%
        width: 80%
        object-fit: cover
        


