.feedback
    margin: 2em auto 2em auto
    width: 75%
    font-size: 16px

    &--error
        color: red
        border: 1px solid red
        border-radius: 10em
        padding: 15px

    &--warn
        background-color: yellow
    &--success
        color: green