*
    padding: 0
    margin: 0
    
body
    width: 99vw

nav
    display: flex
    flex-direction: row
    justify-content: space-between
    background-color: white
    width: 100%
    height: 15%

form
    display: flex

    flex-direction: column
    background-color: red
    margin-left: 10px

img 
    width: 40%
    margin-top: 10px
    margin-left: 10px

footer
    width: 100%
    height: 5%
    background-color: purple
    text-align: center
    position: absolute
    bottom: 0

