.login
   @extend %input
    

.login-form
   @extend %flexProps-shared
   @extend %input-form

   &__label
      @extend %input-label 

   &__input
      @extend %input-input  

   &__button
      @extend %input-button
      


.title
    font-family: $boldfont
    letter-spacing: 2px
    color: white