.main-create
  width: 100vw
  margin-top: 1rem
  display: flex
  flex-wrap: wrap
  padding: 1rem
  justify-content: center
  text-align: center
  color: white
  &__h3
    width: 100vw
    margin: 1rem auto
    color: #E85A4F
    font-size: 1.5rem

.selector
  width:60vw
  height: 2.5rem
  background-color: rgba(255,255,255,.8)
  margin: 0.5rem
  border-radius: 0
  color: rgb(60,60,60)
  border: 0.05rem solid rgb(200,200,200)
  font-family: 'Quicksand', sans-serif
  font-size: 0.8rem
  outline: none