.register
    @extend %panel
    background-color: gold
    margin-right: 50%

.register__form
    display: grid
    & label
        padding-top: 10px
        font-weight: bold

.register__button
    margin: 1%
    margin-left: 20%
    margin-right: 20%
    color: black
    text-decoration: none
    background-color: grey
    padding: 5px
    border: 2px solid #333
    cursor: pointer
    font-weight: bold


