.full
    background-image: url('https://cdn.pixabay.com/photo/2016/11/21/12/59/electronics-1845272_960_720.jpg')
    background-position: center
    background-size: cover
    padding: 50px
    
    
h1
    font-size: 35px