// FOOTER
.footer
    margin-bottom: 25px
        

// FOOTER ADDRESS
.address,
.subfooter,
.claim-footer
    margin: 0 20px

.address
    &__column
        padding: 20px 0
    &__title
        color: $red
    &__paragraf
        margin-top: 10px
    &__mail
        cursor: pointer
        &:hover
            text-decoration: underline

// FOOTER SOCIAL
.subfooter
    &__paragraf
        padding: 10px 0
    &__social
        margin-right: 5px

// CLAIM
.claim-footer
    &__paragraf
        font-size: 1.7rem
        padding: 40px 0
    &__mail
        font-size: 1.7rem