.header
    &__mov
        display: flex
        flex-direction: row
        justify-content: space-between
        padding: 17px 20px 17px
        border-bottom: 1px solid $grey
    &__desk
        display: none

.border
    border-bottom: 1px solid $grey

.menu-mov
    display: flex
    flex-direction: column
    justify-content: space-between
    &__li
        display: flex
        flex-direction: row
        justify-content: space-between
        padding: 14px 20px 14px
        border-bottom: 1px solid $grey