// RESET
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-size: 16px

// GENERAL
body
    font-family: 'Lato', sans-serif
    font-weight: 400
    color: $grey

h2, h3, h4
    font-size: 1rem
    font-weight: 400

a
    text-decoration: none
    color: $grey

a:hover
    text-decoration: underline