.list-results
    width: 100%
    display: flex
    flex-direction: column
    list-style: none
    &__item
        display: flex
        flex-direction: column
        justify-content: center
        border-radius: .5rem
        border: 1px solid black
        margin-top: 2rem
        padding: .25rem
