.duck-container
    @extend %item-container

    &__fav
        @extend %item

        &-price
           @extend %item-price
       

        &-h3
            @extend %item-title
        
        &-image
            @extend %item-image

.panel-title
    text-decoration: none
    text-align: center
    margin: 10px 0
    color: $purple