.student-list
    margin-top: 17%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    list-style: none
    &__li
        color: $bluedark
        font-size: 2em
        font-family: $family
        text-decoration: none