.register
    // @extend %panel
    form
        width: 50%
        margin: 2rem auto
        padding: 1rem
        display: flex
        flex-direction: column
        align-items: center
        label
            align-self: flex-start
            margin-bottom: .25rem
        input
            width: 100%
            margin-bottom: 1rem
        button
            display: flex
            justify-content: center
            align-items: center
            width: 50%
            margin: 1.5rem auto
            padding: 1rem
            font-size: 1.5 rem
            border-radius: .5rem
            border: 1px solid #DEDEDE
            background-color: #DEDEDE
            text-decoration: none
            &:hover
                border: 1px solid #318806
                background-color: #318806
                color: white

    