.header 
  width: 100%
  height: 33%
  margin: 0 auto
  // border: 5px solid black

nav
  height: 100%

.user-menu
  //background-image: url("../../style/vltra-barradas-1.png")
  margin: auto 0
  padding: 0
  height: 100%
  width: 30%
  float: right
  list-style: none
  overflow: hidden


.user-menu__auth-option-link, .user-menu__user-option
  display: block
  padding: 5% 0
  text-decoration: none
  border: 1px solid rgb(22,22,22)
  color: rgb(60, 60, 60)
  text-align: center

.user-menu__user-option
  font-style: italic
  font-weight: bold


.user-menu__auth-option-link:hover
  background-color: rgba(180, 180, 180, 0.4)

.header__logo, .user-menu
  margin-top: 10px

.header .header__logo 
  display: block
  float: left
  text-decoration: none

.header__logo
  width: 60%

.header__logo--image
  width: 100%

.user-menu__avatar-container
  width: 100%

.user-menu__avatar-img
  display: block
  border-radius: 15%
  margin: 0 auto
  border: 5px solid black
  width: 50%


@media (min-width: 48em)
  .header
    width: 90%
  
  .user-menu__auth-option-link
    //padding: 20px 30px

  .header .user-menu
    clear: none
    float: right
    max-height: none

  .header .hamburguer-menu__icon
    display: none

  .header__logo
    width: 40%