.mentor
    display: flex
    flex-direction: column
    justify-content: center
    margin-top: 30px
    position: fixed
    bottom: 0
    right: 0
    top: 0
    left: 0
    &__ul
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        margin-top: 10%
        background-color: #e0dada10
        height: 25vh
        border: 1px ridge #f0e4e41e
        border-radius: px
        &--margin
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            
            background-color: #e0dada10
            height: 25vh
            border: 1px ridge #f0e4e41e
            border-radius: px
    &__h3
        font-size: 2em
        margin-bottom: 10px
        font-family: $family
        color: $prussianBlue
    &__li
        list-style-type: none
        margin-top: 5px
        font-family: $family
        color: $prussianBlue
        &--size

    &__a
        text-decoration: none
        font-size: 1.5em