html, body{
    overflow: hidden;
}

.main-container{
    width: 100%;
}
.table-container{
    width: 900px;
    height: 800px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}

h1{
    font-family: 'Major Mono Display', monospace;
    color: #1541e9;
}

.info{
    position:relative ;
    width: 200;
    height: auto;  
    margin: 0 auto; 
} 

.info-child-wrapper div{
    margin-bottom: 25px;  
}


.info-winner{
    background-color: #1541e9;
    color: white;
    border-left: 4px solid #ffe1ca !important;
    transition:  0.5s linear;
    
}

#info-child-1{
    border-left: 4px solid  #1541e9;
    
}
#info-child-2{
    border-left: none;
}


p{
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: bold;
    margin: 5px 10px;
}

#player1, #player2{
    color: #1541e9;
}

table{
   margin: 0 auto;
    min-width: 600px;
    height: 400px;
    table-layout: fixed;
    border-collapse: collapse;
    white-space: nowrap;
 
    
}

#table{
    cursor: pointer;
}

tr{
    width: 30px;
    height: 30px;   
}

td{
    width: 10px;
    border: 3px dotted #1541e9;
    z-index: -1;
}


td:after{
    content: 'cell id: ' attr(data-id);
    opacity: 0;
    transition: 0.5s opacity
}

/*td:hover:after{
    opacity: 1;
}*/
 
 #reset, #robot, #new{
    display: block;
    width: 120px;
    height: 25px;
    outline: none;
    border: 2px solid #1541e9;
    text-decoration: none;
    cursor: pointer;
    background: repeating-linear-gradient(315deg, #ffff,  #ffff 3px, #c6d1fa 3px, #c6d1fa 4px); 
    color: #1541e9;
    font-weight: bold;
    
 }

 #reset:hover,  #new:hover{
     background: none;
     background-color: #1541e9;
     color: white
 }

 #reset:active, #new:active{
    background-color: #ffe1ca;
    color: blue 
 }

 .robot_focus{
     background: none !important;
     background-color: #1541e9 !important;
     color: white !important;
 }

.bttn{
    margin: 15px;
}

.chip{
    margin: 0 auto;
    transform: translateY(15%);
    width: 65px;
    height: 65px;
    border: 3px solid #1541e9;
    border-radius: 50%;
    background-color: white;
    transition-duration: 0.5s;
}

.winner{
    border-radius: initial !important;
    background-color: #1541e9;
}

.chipImg{
    transition: 0.5s ease-in;
}


