.stl
    margin-top: 17%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &__li
        list-style: none
        color: $bluedark
        font-size: 2em
        font-family: $family
        text-decoration: none
        display: flex
        flex-direction: column
    &__h3
        text-align: center
    &__link
        font-size: 0.6em
        text-align: center
        text-decoration: none
        color: $bluedark