.mapHome
    width: auto
    height: 80vh
    display: flex

// .map
//     width: 100vh
//     height: 80vh

.map-profile
    width: auto
    height: 40vh
    display: flex

.popup__button
    background: none
    border: none
    
html, body, .map
        height: 100%
        width: 100%
    
