include ../fav-button/index

mixin duck-results(ducks)
    ul.list-results
      each duck in ducks
        li.list-results__item
          a.list-item(href='/ducks/' + duck.id)
            h3.list-item__header= duck.title
            img.list-item__image(src=duck.imageUrl)
            span.list-item__price= duck.price
            +fav-button(duck.id , duck.favorite)