*
    margin: 0
    padding: 0
    border: 0
    box-sizing: border-box
/*header*/

.header
    display: flex
    justify-content: space-between
    background-color: #DDFFE7

.logo
    height: 9vh 
    width: 22vw
    margin-left: 0.5rem

.nav__main--position
    margin-top: 1.2rem
    margin-right: 0.5rem

.nav__list--position
    display: flex
    padding: 5 rem
    & li
        list-style: none
        margin-left: 1em

/*main*/
.block
    height: 82vh
    display: flex
    flex-direction: column
    order: 3
.detail-student
    padding-top: 1.5rem
    border-bottom: 0.5px solid #4e4848e0
    padding-bottom: 2.5rem
    display: flex
    flex-direction: column
    align-items: flex-start
    & h1
        font-family: 'Chilanka', cursive
        color: #397591
    & h3
        padding-top: 0.5rem
        font-family: 'Chilanka', cursive
        color: #397591
    & textarea
        padding-top: 0.5rem
        border: 1px solid #4e5a5f9d
    & button
        margin-top: 0.7rem    

.sec
    padding-top: 1.5rem

.message-received
    & h1
        font-family: 'Chilanka', cursive
        color: #397591
    & h3
        padding-top: 0.5rem
        font-family: 'Chilanka', cursive
        color: #397591
    & h2
        padding-top: 1rem
        font-family: 'Chilanka', cursive
        color: #397591
    & p
        padding-top: 1rem
        font-family: 'Chilanka', cursive
        color: #397591

.back
    margin-top: 2rem
    height: 12vw
    width: 40vw
    font-size: 1.5em
    & a 
        text-decoration: none
        text-align: center
        color: #397591
    

/*footer*/        
.social
    background: #DDFFE7
    height: 9vh