.subject
    padding-top: 17%
    &__ul
        display: flex
        justify-content: space-around
        list-style-type: none
        background-color: $bluedark
        &--many
            overflow: auto
            border: 1px solid #80767693
            border-radius: 5px
            width: 100vw
            height: 79.5vh
    &__a
        text-decoration: none
        color: $white
        font-size: 1.8em
        font-family: $family
    &__h3
        font-family: $family
        color: $prussianBlue
        margin-bottom: 3px
    &__li
        margin-left: 3px
    &__p
        font-family: $family
        color: $blue
        margin-bottom: 3px
    &__form
        display: flex
    &__button
        width: 13vw
        height: 7.48vh