.card-players
   
    margin: auto
    width: 100%
    border: 1px solid white
   

    p
        text-align: center
        color: white
        font-size: 15px

    a 
        font-size: 1px   

    &__image
        width: 90%

    &__content
        background-color: rgba(0,0,0,0.5)
        padding: 0.5em
        display: flex
        justify-content: center
        flex-direction: column

        &__name
            padding-right: 0.5em
        &__surname
            padding-right: 0.5em
        


