.show
    display: block
    
.hide
    display: none

ul
    width: 95%
    display: flex
    flex-wrap: wrap
    padding: 0%

li
    max-width: 200px
    margin: 2%

h3
    max-width: 200px
    margin: 2%
    height: 1.9rem

img
    max-width: 200px
    margin: 2%
    padding-top: 1rem

h1
    text-align: center

.btn
    background-color: skyblue
    border: none
    border-radius: 0.5rem
    color: white
    padding: 15px 32px
    text-align: center
    text-decoration: none
    display: inline-block
    font-size: 16px
    margin: 4px 2px
    cursor: pointer