* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body {
    height:300vh;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    color:rgba(0,0,0,.5);
}

header {
    height:120px;
}

nav {
    margin-top:30px;
    display:flex;
    flex-flow:row wrap;
    align-items:flex-start;
    justify-content:space-around;
    padding:20px;
}

.nav-logo {
    max-width:100px;
}

.nav-logo>img {
    object-fit:contain;
    height:100%;
    width:100%;
}

.nav-content {
    font-size:15px;
    max-width:40vw;
}

.nav-buttons {
    display:flex;
    justify-content:space-between;

}

.nav-buttons>a {
    color:rgba(0,0,0,.5);
    text-decoration:none;
    font-size:15px;
    margin:0 6px
}

.photo-grid {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(18vw, 1fr));
}

.photo-grid-item {
    height:20vw;
    width:20vw;
}


img {
    object-fit:cover;
    height:100%;
    width:100%;
}

.card {
    background-color: #f4f4f4;
    display:flex;
    flex-direction:column;
    padding:20px;
    max-width:300px;
}

.card-title {
    flex:1;
    justify-content:flex-start;
    color:rgba(255, 0, 0, .8);
    font-weight:bold;
    font-size:14px;
}

.card-content {
    flex:4;
    font-weight:400;
    color:rgba(0,0,0,.9);
    font-size:20px;
}

.greetings-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:30px;
    height:35vh;
}

.greetings-content {
    max-width:50%;
    font-size:25px;
    color:rgba(0,0,0,.9);
    line-height:1.4em;
}

footer {
    display:flex;
    justify-content:space-around;
    padding:20px;


}


address {
    font-style:normal;
}

.details {
    flex:1;
    align-self:flex-start;
}

.address {
    margin-top:30px;
    flex:1;
    align-self:flex-end;
}


.city {
    font-size:18px;
    font-weight:bold;
    color:rgba(255, 0, 0, .8);
}

.phone-number {
    font-size:18px;
    color:rgba(0,0,0,.7);
}

.email-address {
    font-size:18px;
    color:rgba(0,0,0,.7);
}

.street {
    font-size:13px;
    color:rgba(0,0,0,.7);
}

.postal-address {
    font-size:13px;
}
