.duck-results
    @extend %panel

    background-color: palegoldenrod

    img
        width: 300px
        border: 2px solid orange
    
    li
        list-style-type: none

    h3
        padding: 1rem 0 0.5rem
        font-family: $font-duck
