
.modal 
  padding-top: 100px 
  left: 0
  top: 0
  width: 99vw
  height: 99vh
  overflow: auto
  background-color: rgba(0,0,0,0.4)


.modal-content 
  position: relative
  background-color: #fefefe
  margin: auto
  padding: 0
  border: 1px solid #888
  width: 80%
  

.close 
  color: gray
  float: right
  font-size: 28px
  font-weight: bold
  margin-top: -20px
  margin-right: 10px


.close:hover
  color: #000
  text-decoration: none
  cursor: pointer
  margin-right: 5px
  margin-top: -15px

.register-title
  text-align: center

.modal__header 
  padding: 2px 16px
  background-color: #5cb85c
  color: white


.modal__body 
    padding: 2px 16px
    display: flex
    flex-direction: column


input
  width: 100%
  margin: 2px
