*
  margin: 0
  padding: 0
  box-sizing: border-box
    
.show
    display: block
    
.hide
    display: none

.body
    width: 95vw
    margin: 10px auto
    font-family: 'Roboto', sans-serif
    font-size: 1em
    color: rgb(85, 85, 85)
    background-color: rgb(40, 148, 180)
    background-image: url('https://image.freepik.com/foto-gratis/fondo-papel-multicolor_23-2148182446.jpg')
    background-size: cover

.main
    width: 75%
    margin: 40px auto
    display: flex
    flex-direction: column
    align-items: center

.button
    width: 110px
    height: 30px
    margin: 10px auto 20px auto
    font-size: 0.8em
    background-color: rgba(241, 239, 235, 0.7)
    border-radius: 0.3rem

h1
    color: whitesmoke

h2
    color: rgb(130,130,130)
    margin: 10px 0

form
    margin-bottom: 10px

input
    width: 100%
    height: 30px
    margin-bottom: 10px
    border-radius: 0.3rem
    border: 0
    padding: 2px

.a
    width: 110px
    height: 24px
    margin: 10px auto
    padding: 10px 40px
    font-size: 0.8em
    background-color: rgba(241, 239, 235, 0.7)
    border: 0.05rem solid rgb(220,220,220)
    border-radius: 0.3rem
    text-decoration: none



