%panel
    width: 70%
    padding: 20px
    margin-top: 20px
    background-color: $panel-color
    box-shadow: $panel-box-shadow
    border-radius: 0.3rem
    text-align: center
    justify-content: center
 

    &__feedback
        color: red

