$grey: #373636
$red: #D63E3E
$font: Arial, Helvetica, sans-serif

html
  margin: 0
  padding: 0
  box-sizing: border-box
 

.App
  font-family: $font
  height: 100vh
  

li
  list-style:  none

.header-bgrnd
  display: flex
  justify-content: center
  height: 40vh
  width: 100%
  background-image: url('../../resources/imagelanding.png')
  background-size: cover
  background-repeat: no-repeat
  border-bottom: 6px solid $red

  &__container
    display: flex
    justify-content: space-around
    align-items: center
    flex-direction: column
    width: 50%
    height: 100%

    &--logo
      width: 85px
      height: 85px
      background-size: cover
      background-image: url('../../resources/logowhite.png')

    &--text
      color: white
     
    &--logo-text
      color: white
      font-size: 1.3rem
      margin-left: 7rem
      margin-top: -7rem

.main-container
  margin-top: 0.5rem
  display: flex
  justify-content: center
  flex-direction: column
  
  &--uppersection
    width: 80%
    margin: auto

  &--lowersection
    width: 80%
    margin: auto
    color: $red

.p-upper
  line-height: 1.8rem 
  

.big-p
  font-size: 1.5rem
  margin-bottom: -0.5rem

.navigation-container
  text-align: center
  margin-left: -3.1rem

.or-span
  text-align: center
  margin: 0.5rem 0

.register-bttn
  background-color: $red
  color: white
  padding: 0.2rem 6.5rem 
  border-radius: 3px
  text-decoration: none

.login-bttn
  color: black

.app
  font-size: 0.5rem
  width: 40px
  padding: 0 0 0 0.5rem

.footer
  display: flex
  align-items: center
  background-color: $grey
  height: 40px
  width: 100%
    
  &--text
    width: 100%
    font-size: 0.7rem
    color: black

.container-icon
  display: flex
  flex-direction: row
  justify-content: flex-end
  padding: 0 0.5rem 0 0

.insta
  padding: 0 0.5rem
  font-size: 1.2rem
  color: white

 
     

  




  

 






  
 
    




  



