.search
    &__form
        display: flex
        justify-content: center
        align-items: center
        margin-top: 1rem
    
    &__input
        width: 20rem
        height: 2.5rem
        font-size: .8rem
        padding: 0 1rem


    &__submit
        position: absolute
        left: -9999px
        tabindex: -1
    