.duck-detail
    @extend %panel

    align-content: center
    background-color: #D7D9DA
    width: 60%
    height: 60%
    text-align: justify

    &__photo
        width: 80%

    &__price
        background-color: black
        color:  #D7D9DA