
//Header principal main app

.initial-header
    display: flex 
    border: 1px solid white
    padding: 5%

    &__image
        width: 30%
    &__text
        text-align: center
        font-size: 1.5rem

