.register-success
    @extend %panel

    flex-direction: column
    justify-content: center
    align-items: center
    width: 60vw
    height: 30vw
    background-color: #D7D9DA
    font-family: 'Source Sans Pro', sans-serif
    padding: 20px
    margin: 0 auto
