h2
    color: white
.header
    background-color: black
    padding: 20px
    font-family: "Playfair Display", serif
    display: flex
    justify-content: space-between
    &__a
        text-decoration: none
        color: white
         margin-top: 20px

.header__a:hover
    color: skyblue