.home
    margin: 0
    &__e
        font-weight: lighter
    &__title
        display: initial
        font-family: Helvetica, Roboto, sans-serif
        font-size: 2rem
    &__subtitle
        font-size: 1.2rem
        font-weight: normal
        margin-top: 1em
    &__logo, &__mobile-menu
        display: none
    &__square
        margin: 2em 0 4em
        border: .2em solid black
        padding: 2em 4em
    &__space
        margin-bottom: 3em
    &__space-add
        margin-bottom: 3em
    &__space-add:hover
        color: deeppink
    &__spaces
        margin: 0 0 5em 0
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    &__space-image
        display: flex
        justify-content: space-between
        display: block
        position: relative
        margin-bottom: 1em
        width: 100%
        list-style: none
    &__space-reveal 
        position: absolute
        top: 0
        left: 0
        z-index: -1
        padding: 2em
        display: flex
        flex-direction: column
    &__space-title, &__space-subtitle, &__space-address
        margin: 0
        padding: .5em
        font-size: 1.5rem
    &__space-subtitle 
        font-size: 1rem
    &__space-address 
        font-size: 1rem
        color: grey
    &__space-message
        color: grey 
    &__space-figure 
        margin: 0 0 5px 0
    &__space-img 
        width: 100%
    &__space-img:hover 
        opacity: 0.3
        transition: opacity 500ms

@media screen and (min-width: 840px) 
    .home
        text-align: center
        &__logo, &__mobile-menu
            display: none
        &__space-image
            width: 45%