.home
    margin: 0
    &__e
        font-weight: lighter
        font-size: 1.5rem
    &__title
        display: initial
        font-family: Helvetica, Roboto, sans-serif
        font-size: 2rem
    &__subtitle
        font-size: 1.2rem
        font-weight: normal
        margin-top: 1em
    &__logo, &__mobile-menu
        display: none
    &__square
        margin: 2em auto
        border: 5px solid black
        padding: 2em
    &__space
        margin-bottom: 1em
    &__space-add
        margin-bottom: 3em
    &__space-add:hover
        color: deeppink
    &__spaces
        margin: 0 0 5em 0
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    &__space-image
        display: flex
        justify-content: space-between
        display: block
        position: relative
        margin-bottom: 1em
        width: 100%
        list-style: none
    &__space-reveal 
        position: absolute
        top: 0
        left: 0
        z-index: -1
    &__space-title 
        margin: 2em 0 0 2em
        font-size: 1.2rem
        text-align: left
    &__space-subtitle 
        margin: .5em 0 0 2em
        font-size: 1rem
        text-align: left
    &__space-address 
        margin: .5em 0 0 2em
        font-size: .9rem
        color: lightgrey
        text-align: left
    &__space-message
        color: grey 
    &__space-figure 
        margin: 0 0 5px 0
    &__space-img 
        display: block
        width: 100%
    &__space-img:hover 
        opacity: 0.01
        transition: opacity 500ms

@media screen and (min-width: 840px) 
    .home
        text-align: center
        &__logo, &__mobile-menu
            display: none
        &__space-image
            width: 45%