.App
  width: 90vw
  margin: 0 auto
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.main-wrapper
  width: 98%
  flex-direction: column
  justify-content: center
  align-items: center

