.header
    &__search
        margin-bottom: .45em
    &__search-input
        @extend %text-input
        margin: .5em
        width: 50%
        border: 2px
        border-style: inset
        border-color: grey
    
    &__button
        @extend %button