.panel {
    border: 1px solid black;
    padding: 10px;
}

.panel--show {
    display: block;
}

.panel--hide {
    display: none;
}

.letter--hide{
    display : none;
    color : red;
}
.letter--show {
    display: block;
}