@import ../Main/style.sass

.post-detail
    clear: both
    //width: 90%
    margin: 0 auto

.post-detail__title
    position: sticky
    top: 0
    z-index: 2
    display: block
    background-color: black
    color: white
    font-size: 1.3em
    font-weight: bold
    padding: 1rem

.post-detail__container
    position: relative
    padding: 1rem 0
    margin: 0% auto 100px
    background-color: white
    width: 90%
    z-index: -1

.post-detail__view
    padding: 30px

.post-detail__content
    font-size: 1em

.post-detail__content-author
    font-weight: bold

.post-detail__content-date
    font-style: italic

.post-detail__on-back
    position: absolute
    left: 5%
    padding: 10px
    background-color: #935067
    color: white
    font-size: 1.3rem
    text-decoration: none

.post-detail__bookmark-button
    color: rgb(113, 80, 147)
    background-color: transparent
    z-index: 1
    border: none
    font-size: 2em
    width: 10%
    float: right
    left: 10%
    top: 1%

.post-detail__bookmark-button:hover
    color: gold

.post-detail__rank
    display: inline-block
    position: relative
    float: right
    bottom: 1.5rem
    padding: 5px
    border: 1px solid lightgray
    border-radius: 10%
    background-color: rgb(246, 246, 246)
    font-style: italic