*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: Open Sans, Arial, Helvetica, sans-serif
    color: #383838

.pollcategoryname
    margin-top: 2.7rem
    text-align: center
    padding: 1.5rem

.pollquestion
    font-size: 1.7rem
    text-align: center
    padding-bottom: 0.3rem
    padding-top: 0.3rem

.pollchoices-title
    text-align: center

.pollresults1
    text-align: center

.pollresults2
    text-align: center
    padding-bottom: 2.5rem

.poll-list-ul
    width: 100vw
    .pollimg
        width: 100%
        height: auto
        img
            width: 100%

.polldescription
    padding-top: 1rem
    padding-left: 2rem
    padding-right: 2rem
    text-align: justify
    text-justify: inter-word

.pollcategory
    display: flex
    align-content: center

.pollchoicestitle
    text-align: center
    padding-bottom: 1.5rem
    padding-top: 1rem

.responses
    width: 60%
    margin: auto
    justify-content: center
    align-items: center
    display: flex
    flex-direction: column
    padding-bottom: 3rem

.button-poll
    display: flex
    align-items: center
    justify-content: center
    width: 40vw
    height: 6vh
    margin: 3rem auto
    background-color: #4CAF50
    border: none
    color: white
    text-align: center
    text-decoration: none
    font-size: 16px
    margin: 4px 2px