$base-color: #05386b

.header
    background-color: #5CDB95
    height: 10vh
    display: flex
    justify-content: space-between
    width: 100vw

    &__navbar
        display: flex
        justify-content: center
        align-content: center

    &__list
        display: flex
        justify-content: center
        align-content: center
        list-style: none

    &__item
        display: inline
        color: $base-color
        font-family: Lato, sans-serif
        font-weight: 700
        font-size: 14px

        &-logout
            color: Crimson
            font-family: Lato, sans-serif
            font-weight: 700
            font-style: 14px

    &__button
            background: none
            border: none
            color: $base-color
            font-family: Lato, sans-serif
            font-weight: 700
            font-size: 16px

    &__title
        font-family: 'Dancing Script', cursive  
        font-size: 35px
        color: $base-color
        padding-left: 0.4vh