$base-color: #05386b

.header
    background-color: #5CDB95
    height: 10vh
    display: flex
    justify-content: space-between
    // width: 100vw
    margin-bottom: 2vh
    border-bottom: 3px solid #05386b

    &__navbar
        display: flex
        justify-content: center
        align-content: center
        padding-top: 4vh

    &__list
        display: flex
        justify-content: center
        align-content: center
        list-style: none

    &__item    
        color: $base-color
        display: inline
    
        &__logout
            color: Crimson
            font-family: Lato, sans-serif
            font-weight: 700
            font-size: 16px
            margin-right: 1vh
            overflow: hidden

    &__button
            background: none
            border: none
            color: $base-color
            font-family: Lato, sans-serif
            font-weight: 700
            font-size: 16px
            padding-right: 1.5vh
            button: focus {outline:0}
            

    &__title
        diplay: flex
        font-family: 'Dancing Script', cursive  
        font-size: 30px
        color: $base-color
        padding-top: 1vh 
        padding-left: 1vh

    &_a
        background: none
        border: none