$base-color: #05386b

.header
    background-color: #5CDB95
    height: 10vh
    display: flex
    justify-content: space-between
    width: 100vw
    margin-bottom: 2vh

    &__navbar
        display: flex
        justify-content: center
        align-content: center
        padding-top: 4vh

    &__list
        display: flex
        justify-content: center
        align-content: center
        list-style: none

    &__item
        display: inline
        color: $base-color
        font-family: Lato, sans-serif
        font-weight: 700
        font-size: 12px
    
        &-logout
            color: Crimson
            font-family: Lato, sans-serif
            font-weight: 700
            font-size: 12px
            margin-right: 1vh

    &__button
            background: none
            border: none
            color: $base-color
            font-family: Lato, sans-serif
            font-weight: 700
            font-size: 12px
            padding-right: 1.5vh
            button: focus {outline:0}

    &__title
        diplay: flex
        font-family: 'Dancing Script', cursive  
        font-size: 24px
        color: $base-color
        padding-top: 2.5vh 
        padding-left: 1vh