.user-notification
    margin-bottom: 1vh
    &_text
        margin: 0 !important
.detail
    padding-left: 3px
    padding-right: 3px

.start-chat
    padding-left: 3px
    padding-right: 3px
    background-color: #F7E70A
        