*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: Arial, Helvetica, sans-serif

.header-wrapper-manager
    //border-bottom: 1px solid blue
    border-top: 5rem
    padding-top: 4rem
    width: 100%
    display: flex
    flex-direction: column 
    justify-content: center
    align-content: center
    .nav-container-manager
        background-color: #fff
        
.menu
    list-style: none
    display: flex
    justify-content: center
    align-content: center
    padding: .5rem

.menumanagerul
    .element-manager-li
        list-style: none
        width: 25%
        height: auto
        a
            display: flex
            justify-content: center
            align-content: center
            img
                max-width: 50%
                max-height: auto

