.module
    margin: 0
    &__title
        display: initial
        font-family: Helvetica, Roboto, sans-serif
        font-size: 2rem
    &__type
        font-size: 1.2rem
        font-weight: normal
        margin-top: 1em
    &__address
        font-size: .9rem
        margin-top: .9em
        color: grey
    &__users
        font-size: .9rem
        font-weight: normal
        margin-top: 1.5em
    &__users-link
        font-size: .8rem
        text-decoration: none
        color: grey
        margin-top: 1em
    &__users-link:hover
        color: deeppink
    &__logo, &__mobile-menu
        display: none
    &__figure 
        margin-top: 2em
        padding: 0
    &__img 
        width: 60%
    &__form
        display: flex
        flex-direction: column
        align-items: center
        margin: 2em 0 10em 0
    &__calendar, &__today
        background-color: black
        color: white
        text-align: center
        font-size: 1.25rem
        margin-bottom: 1em
        border: none
        padding: .5em
        width: 60%
    &__today
        background-color: white
        border: 1px solid black
        color: black
    &__back-link
        text-decoration: none
        color: grey
    &__calendar:hover, &__today:hover, &__back-link:hover
        color: deeppink
.fa-eye
    font-size: .8rem

@media screen and (min-width: 840px) 
    .module
        padding: 2em 7em
        text-align: center
        &__logo, &__mobile-menu
            display: none