.homework
    padding-top: 21%
    &__h2
        padding-bottom: 5%
        margin-top: 5%
        margin-right: 2%
        font-size: 1.7em
        font-family: $family
        color: $prussianBlue
        text-align: center
        &--size
            font-size: 1.1em
            margin-top: 5%
            margin-left: 2%
            font-family: $family
            text-align: center

    &__form
        display: flex
        flex-direction: column
        align-items: center
    &__input
        height: 4vh
        width: 40vw
        text-align: center
        margin-bottom: 4px
        font-size: 1.1em
        border-radius: 5px
    &__textarea
        height: 10vh
        width: 70vw
        text-align: center
        margin-bottom: 4px
        font-size: 1.1em
        border-radius: 5px
    &__button
        margin-top: 5px
        height: 5vh
        width: 20vw
        background-color: green
        color: $white
        font-family: $family
        font-size: 1.2em
    &__li
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        padding-bottom: 5px
    &__h3
        color: $blue
        margin-left: 10px
        font-family: $family
    &__p
        margin-left: 10px
        font-family: $family
    &__time
        margin-left: 10px
        font-family: $family
    &__ul
        overflow: auto
        margin-left: 12%
        margin-top: 2%
        height: 40vh
        list-style-type: none
        border: 1px solid #3634348e
        border-radius: 5px
        width: 78vw
        display: flex
        flex-direction: column
        &--list
            list-style-type: none
            margin-top: 3px
            font-family: $family
    &__div
        width: 95vw
    &__ul--overflow
        overflow: auto
        width: 78vw
        display: flex
        flex-direction: column
    &__time
        font-size: 0.9em
        font-family: $family

.ho
    display: flex
    justify-content: space-around
    &__ul
        display: flex
        flex-direction: column
        text-align: center
        width: 75vw
        margin-right: 1.5px
        margin-left: 1.5px
        list-style-type: none
        border: 1px solid #aca0a09d
        border-radius: 5px
        height: 89vh
    &__div
        &--overflow
        overflow: auto
        width: 78vw
        display: flex
        flex-direction: column
    &__h2
        font-family: $family
        font-size: 1.8em
    &__h3
        font-family: $family
        font-size: 1.2em
    &__li
        border: 1px solid #9c8e8e8e
        border-right: none
        border-left: none
        margin-top: 3px
        padding: 10px 0
    &__p
        font-family: $family
        font-size: 1.1em
    &__time
        font-family: $family
        font-size: 1.1em
    &__button
        border: none
        background-color: green
        color: $white
        height: 4vh
        width: 15vw
        text-align: center
        font-family: $family  
        &--red
            border: none
            background-color: $blue
            color: $white
            height: 4vh
            width: 15vw
            text-align: center
            font-family: $family
