.list-item
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: .5rem
    text-decoration: none
    &__header
        width: 95%
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        background-color: #F2E530
        color: #8f860a
        padding: .5rem
        border: 1px solid #8f860a55
        border-radius: .5rem
        font-size: 1.05rem
    &__img
        width:100%
    &__price
        width: 95%
        margin-bottom: 1rem
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        color: #54264D
        padding: .25rem
        border: 1px solid #54264D55
        border-radius: .25rem
        background-color: #54264D44
    &__description
        padding: 1rem
        font-family: 'Open Sans', sans-serif
        font-size: .9rem
        border-radius: .5rem
        border: 1px solid #03A6A688
        background-color: #03A6A611
        color: #03A6A6ff
        text-align: center
        line-height: 1.5rem