.btn
    display: flex
    justify-content: center
    align-items: center
    width: 10rem
    margin: 1rem
    padding: 1rem
    font-size: 1rem
    background-color: #c9c9c9
    border-radius: .5rem
    border: 2px solid #c0c0c0
    text-decoration: none
    color: #333
    transition: .5
    &:hover
        background-color: green
        border: 2px solid green
        color: white
