html
    margin: 0
    padding: 0
    box-sizing: border-box
    font-size: 16px

body 
    width: 75vw
    margin: 1rem auto

.wrapper
    font-family: 'Darker Grotesque', sans-serif
    width: 90%

.header-1
    font-size: 3rem
    width: 75%
    margin: 0 auto 1rem
    text-align: center
    // color: #666
    color: #1DA5F3
    font-family: Play, sans-serif

.header-2
    width: 100%
    border-top: 1px solid #999999
    border-bottom: 1px solid #999999
    padding: .5rem
    color: #666
    font-family: Play, sans-serif
    text-align: center
    background-color: #33333310