body 
    width: 75vw
    margin: 1rem auto

.wrapper
    box-sizing: border-box
    font-family: Helvetica, Arial, sans-serif
    width: 100%


.header-1
    font-size: 3rem
    width: 75%
    margin: 0 auto 2rem
    text-align: center
    color: #666

.header-2
    color: #666