.panel
    border: 1px solid #c9c9c9
    width: 75%
    height: auto
    margin: 0 auto
    padding: .5rem 3rem
    border-radius: 1rem
    background-color: #f9f9f9
    &--show
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
    &--hide
        display: none
    &__feedback
        display: none
        color: red
        text-align: center
        padding: .25rem