<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../style/index.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <title>WannaDOG</title>
</head>

<body>
    <main class="wrapper">

        <a class="button" href="#">LOGIN</a>
        <a class="button" href="#">GUEST</a>
        <h1 class='title'>WannaDOG</h1>

    </main>
</body>

</html>