$title-color: #47cf73  
$feedback: #ffffff
$panel-color: #f5f5f5 
$alert: red
    
    
%flexProps-shared
    display: flex
    justify-content: center
    flex-direction: column


*
    margin: 0
    padding: 0
    box-sizing: border-box
    
html, body
    width: 100%
    height: 100%
    margin: 0
    font-family: Arial, Helvetica, sans-serif
    color: $title-color

body
    display: flex

main
    @extend %flexProps-shared
    height: 50%
    text-align: center
    margin: auto
    
section
    display: flex
    align-content: center
    
a
    margin: 2px 20px
    text-decoration: none
    color: black
    



h1
    color: $title-color 

form
    @extend %flexProps-shared
    margin: 10px 20px
    align-content: space-around
 
       
.panel
    margin-top: 35px
    width: 350px
    height: auto
    background-color: $panel-color
    border-radius: 7px

.text
    background-color: $feedback
    margin: 30px 15px
    padding: 10px 5px
    border-radius: 7px

.alert
    background-color: $feedback
    color: $alert

.link
    margin: 50px 15px

.link > a
    margin: 0 20px

.panel
    
    &--hide
        display: none

    &--show
        display: block

.button
    text-align: center
    margin: 5px auto
    width: 70px
    height: 20px
    border: none
    border-radius: 15px
    background-color: $title-color

    &--a
        width: 150px
        padding: 10px
        background-color: $title-color
        border-radius: 10px

    &--a:hover
        background-color: white
        border: 2px solid $title-color
        color: $title-color
        

    &--a:active
        font-weight: bold
        border: 1px solid $title-color

.button:hover
     background-color: white
     border: 2px solid $title-color
     color: $title-color

.button:active
    font-weight: bold
    border: 1px solid $title-color