.header
  display: flex
  padding: 5%
  justify-content: space-between
  align-items: center
  >div 
    width:30%
    

/* Navbar container */
.navbar 
  overflow: hidden
  background-color: #394a6d
  


/* Links inside the navbar */
.navbar a 
  float: left
  font-size: 16px
  color: white
  text-align: center
  padding: 14px 16px
  text-decoration: none


/* The dropdown container */
.dropdown 
  float: left
  overflow: hidden


/* Dropdown button */
.dropdown .dropbtn 
  font-size: 16px
  border: none
  outline: none
  color: white
  padding: 14px 16px
  background-color: inherit
  font-family: 'Monda', sans-serif
  margin: 0 


/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn 
  background-color: #394a6d


/* Dropdown content (hidden by default) */
.dropdown-content 
  display: none
  position: absolute
  // background-color: #394a6d
  background-color: white
  min-width: 160px
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
  z-index: 1


/* Links inside the dropdown */
.dropdown-content a 
  float: none
  color: black
  padding: 12px 16px
  text-decoration: none
  display: block
  text-align: left


/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover 
  background-color: #ddd


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content 
  display: block

.title
  display: flex
  justify-content: space-between
  align-items: center
  
  &__name
    text-align: center

  
    
.low-menu
  
  
  background-color: white
  display: flex
  justify-content: space-around
  align-items: center

 

.code
  color: black
  font-size: 16px
  text-align: left

.title
  &__user
    font-size: 14px
    // background: url('../style/img/user-icon.png') transparent no-repeat 0 0 
    // min-width: 85%
    // font-weight: bold
    // text-align: left
    // padding: 0 0 0 2rem
  &__name
    font-size: 25px