/* start from mobile layout */

*{
    margin-left: 0; 
  }

  #menu{
      display: none;
  }

  .presentation{
      display: none;
  }

  
  header{
    display: flex;
    height: 10%;
    border-bottom: 1px solid gray;
    padding-bottom: 2vh;
  }
  
  nav{
    height: 10%;
  }
  
  .information{
    background-color: lightgray;
    border: 1px solid white;
    width: 100%;
  }
  
  .border{
    border-bottom: 1px solid lightgray;
  }
   
  footer{
    height: 20%;
  }
  
  .social-media{
    display: flex;
    list-style:none;
  }

  /* TABLET */

  @media (min-width: 768px) and (max-width: 1024px)  {
    header{
        justify-content: space-between; 
      }
      li{
        margin: 2%;
      }
      #menu{
        padding-right: 80px;
        display: block;
        display: flex;
        justify-content: flex-end;
        
      }
      
      nav{
        display: flex;
        justify-content: flex-end;
      }

      .information-wrap{
        display: flex;
        flex-wrap: wrap;
      }
      .information{
        width: 49%;
        margin:0;
        padding: 0; 
      }

      .information-wrap :nth-child(2) {
        padding-right: 1%;
      }
    
      .square{
          padding: 0;
      }
    
      .img{
          display: flex;
          flex-wrap: wrap;
    
      }
    
      img{
          width: 50%; 
          padding: 0;
      }
      
      .border{
        margin: 2%;
        }
  
    ul{
      display: inline-flex;
      list-style:none;
    }
  
    #footer-main{
      display: flex;
      font-size: 2vh;
      width: 100%;
    }
  
    .place{
      width: 50%;
      margin:0; 
    }
  
    footer{
      display: flex;
      flex-wrap: wrap;
      margin-left: 5%;
      width: 100%;
  
    }
  
    .social{
        display: flex;
    }
    .social :nth-child(2) {
        order: 3;
    }
    .social :nth-child(1) {
        order: 2;
        
        }
    #suscribe{
        padding-left: 20vh;
    }
    
    .content-socialmedia{
    display: flex;
    list-style:none; 
    }
}


  /* DESKTOP */

  @media (min-width: 1025px){ 
    li{
        margin: 2%;
      }
      
    #menu{
        display: block;
        padding-right: 50px;
        display: block;
        display: flex;
        justify-content: flex-end;
    }
    .presentation{
        display: block;
        width: 40%;
    }
    header{
        justify-content: space-between;
      }

    nav{
        display: flex;
        justify-content: flex-end;
    }
    .img {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(4, 1fr);
        height: 30%;
      }
      
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      
      .img3 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
      }
      
      .img6 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
      }
      
      .img9 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 6;
      }
      
      .information-wrap{
        display: flex; 
        flex-wrap: wrap;
      }
      .information{
        margin:0;
        padding: 0;
        width: 33%;
      }

      square{
        padding: 0;
    }
    
    .border{
      margin: 2%;
    }
    
    ul{
      display: inline-flex;
      list-style:none;
    }
    
    #footer-main{
      display: flex;
      font-size: 2vh;
      width: 100%;
    }
    
    .place{
      width: 25%;
      margin:0; 
    }
    
    footer{
      display: flex;
      flex-wrap: wrap;
      margin-left: 5%;
      width: 100%;
    }
    
    .social{
    display: flex;
    }
    
    .social :nth-child(2) {
      order: 3;
    }
    .social :nth-child(1) {
      order: 2;
      
    }
    #suscribe{
    padding-left: 40vh;
    }
    
    .content-socialmedia{
      display: flex;
      list-style:none; 
    }
    
}

      
