$base-color: #05386b
$fontFamily: Lato, sans-serif

.register
    width: 75%
    display: flex
    flex-direction: column
    justify-content: center
    border: 1px $base-color black
    font-family: $fontFamily
    color: $base-color
    margin-left: auto
    margin-right: auto
    margin-bottom: 2em
    margin-top: 2em

    &__form
        display: flex
        flex-direction: column
        justify-content: center
        width: 50%
        margin: 0 auto

    &__form-button
        font-size: 15px
        text-align: center
        margin: 0 auto  
        margin-top: 4vh
        border: 2px solid #05386b
        background: none
        padding: 1em
        color: #05386b
        font-weight: 700
        max-width: 50%
        

    &__header
        text-align: center

    &__form-label
        font-weight: 700
        margin-top: 0.5vh
        margin-bottom: 0.5vh



        

    
        
        
        
        



