$body-font: sans-serif

$menu-color-border: rgb(209, 205, 205)

$mosaic-title-color: #EC1C24
$mosaic-background-color:  #f4f4f4

$footer-background-color: rgb(255, 255, 255)
$footerItem-body-color: rgb(110, 110, 110)

$paragraph-color: #555
$paragraph-color-transparent: #b4b3b3

$font-size-base: 14px

$padding-left-base: 20px