.panel
    .user-detail--personal
        width: 100%
        display: flex
        justify-content: space-between
        align-items: flex-end
        margin-bottom: 2rem
        padding: 1rem 1rem 2rem 3rem
        border-bottom: 1px solid #ccc
        .img--user-detail
            width: 20%
            width: 10rem
            height: auto
        .list--user-detail
            width: 70%
            list-style-type: none
            font-size: 1.5rem
            line-height: 2.5rem
    .user-detail--activity
        width: 90%
        .user-detail--table
            border-collapse: collapse
            width: 100%
            text-align: center
            th , td
                height: 3.5rem
                padding: 1rem 0
                border-bottom: 1px solid #ccc
            tr:last-child td
                border-bottom: none
            .selected
                background: url(../assets/selected-icon.jpg) center center no-repeat
            .unselected
                background: url(../assets/unselected-icon.png) center center no-repeat
    