.results__li
    display: flex
    flex-direction: column
    align-items: center
    color: white
    margin-bottom: 20px
  
.results__ul--res
   margin-left: auto    
   margin-right: auto
   padding: 0
