.clasification
    
    display: flex
    flex-direction: column
    justify-content: space-between
    margin: auto
    width: 50%
    border: 1px solid  #45454d
    padding: 5px
    
    &__list
       
       
        margin: 10%
        background-color: #45454d
        
    &__table
        background-color: #45454d
        width: 40%
        
    
