.table   

    background-color: #394a6d
    width: 100vw
    
    
    &__clasification
    
        display: flex
        flex-direction: column
        justify-content: space-between
        margin: auto
        width: 50%
        border: 1px solid  #45454d
        padding: 5px
    
        &__list
       
            margin: 10%
        
            &__tables
                background-color: rgba(0,0,0,0.4)
                width: 100%
            &__team
                font-size: 16px
            &__points
                font-size: 16px
            

        
    
