.feedback
    width: 75%
    margin: 1rem auto
    padding: .5rem
    display: flex
    flex-direction: column
    justify-content: center
    border-radius: .5rem
    background-color: #E22035
    align-items: center
    color: white