.reg_log
    text-align: center
    padding-inline-start: 0px
    a
        color: #494949
        font-size: 1.5rem
        text-decoration: none
        text-transform: uppercase
    button
        font-family: 'Roboto', sans-serif
        font-weight: bold
        background: none
        color: #494949
        font-size: 1.5rem
        text-decoration: none
        text-transform: uppercase


.search_wrapper
    display: flex
    justify-content: center
    margin-bottom: 0.5rem

.options
    font-family: 'Roboto', sans-serif
    font-weight: bold
    background: rgba(255, 255, 255, 0.9)
    margin-bottom: 1rem
   

.logoGreet
    color: white
    width: 50%
    height: 50%
    align-self: center
    & > img
        height: 100%
        width: 100%
        object-fit: cover
    & > h1
        font-family: 'Barrio', cursive


        