.remove-teacher
    top: 100px
    padding-top: 32%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around
    height: 100vh
    &__h2
        font-size: 2em
        margin-bottom: 10px
        font-family: $family
        color: $prussianBlue
    &__form
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        overflow: auto
        width: 85vw
        height: 30vh
    &__label
        font-size: 1.2em
        margin-bottom: 10px
        font-family: $family
        color: $prussianBlue
        margin-right: 8px
        color: $red
    &__input:hover input ~  
        background-color: $red
    &__link
        margin-top: 30%
        margin-bottom: 30%
        width: 40vw
        text-decoration: none
        text-align: center
        font-size: 1.5em
        background-color: $blue
        font-family: $family
        border: 1px solid #3634348e
        border-radius: 5px
        color: white
    &__div
        text-align: center
        margin-left: 9px
     
        