.header
    &__lang-selector
        list-style: none
        display: flex
        justify-content: flex-end
        margin: 0
        padding: 0
    
    &__lang-option
        padding: 8px

    &__lang-button
        @extend %button
        border-radius: 50px
        font-size: 12px
        border: 1px
        border-style: outset
        border-color: grey

