.home
    display: flex
    justify-content: center
    align-items: center
    flex-flow: column nowrap
    padding-top: 40vh
    color: #0791D0
    line-height: 1.5rem

    &__head
        font-size: 2rem
        margin-bottom: 1rem
    
    &__tail
        font-size: 1rem
        width: 80%