.header
    background-color: transparent
    padding: 2rem 0 2rem 2rem
    color: whitesmoke

    &__title
        font-family: "Ribeye Marrow", cursive
        font-size: 3rem

    &__button
        display: block
        height: 30px
        width: 100px
        margin-top: 0.25rem
        margin-bottom: 1rem
        font-size: 1.1rem
        +round-border(0.1rem, 0.3rem, solid, rgb(255, 197, 108))

        &:hover
            background-color: tomato
            color: white
            +round-border(0.1rem, 0.3rem, solid, darkslategray)
    
    &__back-link
        display: block
        width: 200px
        text-decoration: none
        text-align: center
        font-size: 1.1rem
        color: white
        +round-border(0.1rem, 0.3rem, solid, white)

        &:hover
            background-color: white
            color: darkslategray