body
    background-color: plum

.header
    &__nav
        list-style: none
        display: flex
        justify-content: flex-end
        padding: 0
    &__item
        display: inline
        padding-right: 0.5em
    &__title
        display: flex
        justify-content: center
    &__search
        display: flex
        flex-direction: column
        align-items: center
        
        
