.duck-results
    width: 80%

    & li
        list-style-type: none

    & a
        text-decoration: none

    & h3
        padding: 1rem 0 0.5rem
        color: rgb(255, 197, 108)

    & img 
        width: 300px
        border: 2px solid rgb(255, 197, 108)

    & span
        display: block
        border: 0.2rem solid rgb(255, 197, 108)
        border-radius: 0.3rem
        background-color: white
        color: rgb(255, 197, 108)
        font-size: 2rem
        margin: 1rem 0
        width: 120px