.form
    width: 75%
    padding: 1rem
    display: flex
    flex-direction: column
    >label
        padding: .5rem 0
        font-weight: bold
        align-self: flex-start
        color: #999
    >input
        height: 2rem
        margin-bottom: 1.15rem
        padding: .25rem
        font-size: 1.25rem
        font-family: "Darker Grotesque", sans-serif
        outline: none
    &__search
        width: 100%
