* {
    box-sizing: border-box;
  } 
html {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: rgb(17, 17, 17);
}
input {
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-size: 90px;
    grid-column: 1/5;
    text-align: right;
}

.grid-container {
    display: grid;
    grid-gap:10px;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
    padding: 25px 0px 0px 0px;    
    position: relative;
    width: 400px;
    height: 700px;
}
button {
    background-color: rgb(49, 49, 49);
    border: none;
    border-radius: 200px;
    color: rgb(245, 245, 245);
    font-size: 40px;
    text-align: center;
    transition-property: background-color,color,border;
    transition-duration: 0.8s;

}
.zero {
    grid-column: 1/3;
    text-align: left;
    padding: 0px 0px 0px 30px;
}
#change, #ac-c{
    background-color: rgb(165, 165, 165);
    color: rgb(17, 17, 17);
}
#change:active, #ac-c:active {
    background-color: rgba(255, 255, 255, 0.932);
    transition: .1s ease-in-out .01s;
}
#num:active, #coma:active {
    background-color: rgba(189, 189, 189, 0.808);
    transition: .1s ease-in-out .01s;
}
.operation, #equal{
    background-color: rgb(253, 165, 0);
}
.operation:active, #equal:active{
    background-color: rgb(255, 255, 255);
    color: rgb(253, 165, 0);
    transition: .1s ease-in-out .01s;
}
.small-text {
    font-size: 80px;
}
.small-text2 {
    font-size: 72px;
}
.small-text3 {
    font-size: 63px;
}
.small-text4 {
    font-size: 56px;
}
.fix {
    background-color: rgb(255, 255, 255);
    color: rgb(253, 165, 0);
    /*transition: .1s ease-in-out .01s;*/
}

