.register
    @extend %main-content-box
    background-color: white
    font-family: "Cousine", sans-serif
    border-radius: 0.5em 
    width: 90%

    &__form
        padding: 1px
    
    &__title
        color:  #502666
        

    &__item
        list-style: none
        margin-top: 0.5em

    &__input
        @extend %text-input

        border: 1px solid lightgray

    &__button
        margin-top: 1em
        margin-bottom: 1em
        border: none
        padding: 10px
        background: linear-gradient(-45deg,#FF5128, #9422E8, #1EC0FF)
        background-size: 400% 400%
        animation: Gradient 15s ease infinite
        font-size: 18px
        color: white
        @keyframes Gradient
            0%
                background-position: 0% 50%
            50% 
                background-position: 100% 50%
            100% 
                background-position: 0% 50%

    &__back
        @extend %link
        

    &__back:hover
        color: $hover-text-color