.header
    display: flex
    flex-direction: column
    padding: 0
    background-color: #fcd251
    
    &--image
        width: 100%
        object-fit: fit
    
.navigation
    border-top: 1px solid #999
    border-bottom: 1px solid #999
    >ul
        display: flex
        margin : 0 0.5rem 0 0.5rem
        padding: .75rem 0 .5rem
        justify-content: space-around
        align-items: center
        list-style-type: none
        >li
            display: flex
            justify-content: center
            align-items: center
            width: 30%
            padding: .25rem .25rem
            text-align: center

.welcome
    background-color:#fcd971
    padding: 2px
    border-radius: 5px
    font-family: 'Ubuntu', sans-serif
            
           