.landing
    @extend %main-content-box

    &__title
        margin: 0
        padding: 25px

    &__register, &__login
        color: $link-text-color
        text-decoration: none
    
    &__register:hover, &__login:hover
        color: $hover-text-color