%main-content-box 
    background-color: $secondary-bg-color
    margin: auto
    border-radius: 3em
    padding: 30px
    width: 70%
    text-align: center

%link
    color: $link-text-color
    text-decoration: none  

%text-input
    width: 95%
    margin-top: .5em
    border-radius: 10px
    border: none
    outline: none
    padding: 15px 
    font-size: 18px

%button
    background-color: $button-bg-color
    color: $secondary-text-color
    border: none
    padding: 15px
    font-size: 18px