.search
    @extend %main-content-box

    margin: 2em auto 2em auto
    background-color: $terciary-bg-color

    &__label
        display: none

    &__input
        @extend %text-input

    &__button
        @extend %button
        background-color: grey

        margin: 1em auto 1em auto