html
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Special Elite', cursive
    >body
        margin: 0
        background: rgb(252,210,81)
        background: linear-gradient(180deg, rgba(252,210,81,1) 35%, rgba(252,204,58,1) 100%)    