.duck-results

    * 
        text-align: center
        
    @extend %panel

    
    align-items: center
    width: 60%
    height: 60%

    
    img
        width: 80%
        align-self: center
        
    li 
        list-style: none
    h3
        align-self: center
    span 
        display: block
