mixin fav-button(id, selected)
    form(method="post" action="/toggle-favorite")
      input(type="hidden" name="id" value=id) 
      if (selected)
        button(class='fav-button') 💜
      else
        button(class='fav-button') 💔