body
    box-sizing: border-box
    display: flex
    flex-direction: column
    justify-content: center

body a 
    text-decoration: none
    font-family:'Roboto', sans-serif

body h3 , h2
    font-family:'Roboto', sans-serif

h1 
    font-family: 'Ribeye Marrow', cursive

header
    align-self: center

.infocontainer
    display: flex
    flex-direction: row
    width: 100%
    justify-content: space-between
    padding-top: 3%
    padding-bottom: 50px
    font-family: 'Ribeye Marrow', cursive

.logo
    width: 300px
    
@import base-settings
@import ../utils/round-border
@import ../components/component
@import ../components/panel
@import ../components/landing
@import ../components/login
@import ../components/register
@import ../components/register-success
@import ../components/feedback
@import ../components/search
@import ../components/custom/duck-home
@import ../components/custom/duck-results
@import ../components/custom/duck-detail
