*
    margin: 0
    padding: 0
    border: 0
    box-sizing: border-box
/*header*/

.header
    display: flex
    justify-content: space-between
    background-color: #DDFFE7

.logo
    height: 9vh 
    width: 22vw
    margin-left: 0.5rem

.nav__main--position
    margin-top: 1.2rem
    margin-right: 0.5rem

.nav__list--position
    display: flex
    padding: 5 rem
    & li
        list-style: none
        margin-left: 1em

/*main*/
.main
    height: 82vh
.create
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 1rem
    & li
        list-style: none
    & li>a
        text-decoration: none
        color: blue
        font-size: 1.5em
    & h3
        font-size: 2em
        color: darkblue
/*footer*/        
.social
    background: #DDFFE7
    height: 9vh