$grey: #373636
$red: #D63E3E


    

.container-fitlvl
    width: 75%
    height: 100vh
    padding: 12.5%
    display: flex
    background-color: $grey
    flex-direction: column
    
.fitlvl-header
    color: white
    font-size: 1.4rem

.question-fitlvl
    width: 70%
    padding-left: 1.2rem
    margin-left: 10%
    color: white
    margin-top: 1.5rem
    font-size: 1.1rem
    text-align: left
    border-left: 4px solid $red

.low-bttn
    font-size: 1.5rem
    color: black
    background-color: white
    height: 3.5rem
    margin: 2rem 0 3rem 0
    border-radius: 8px
    border: none


.mid-bttn
    font-size: 1.5rem
    color: black
    background-color: white
    margin: 0 0 3rem 0
    height: 3.5rem
    border-radius: 8px
    border: none


.high-bttn
    font-size: 1.5rem
    color: black
    background-color: white
    height: 3.5rem
    border-radius: 8px
    border: none

.t
    font-weight: bold
    font-size: 1.1rem

.icon-fitlvl
    font-size: 1.8rem
    margin-top: 4.5rem
    margin-left: -0.5rem
    color: white
