html, main, body{
    background-color: black
}

main{
    height: 100vh;
    width: 100vw;
}

.cart {
    display: flex;
    flex-wrap: wrap
}

.hook-canvas{
    height: 50vh;
    overflow: auto;
    border: 3px solid lightslategray
}

.titles{
    text-align: center;
    padding: 0;
    margin: 0;
    letter-spacing: 5px;
    font-size: 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.main-title{
    text-align: center;
    padding: 10px;
    color: white;
    letter-spacing: 25px;
    font-size: 15px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}