.landing
    @extend %panel
    padding: 40px
    margin-right: 60%



.landing__button
    color: black
    text-decoration: none
    background-color: red
    padding: 2%
    border-radius: 10%
    border: 2px solid #333

