$red: #D63E3E

.goal-container
    width: 75%
    padding: 12.5%
    display: flex
    flex-direction: column
    

.goal-text
    width: 60%
    margin-left: 20%
    margin-top: 1.5rem
    font-size: 1.1rem
    text-align: center
    border-bottom: 4px solid $red

.gain-bttn
    font-size: 1.5rem
    color: white
    height: 3.5rem
    margin: 2rem 0 3rem 0
    background-image: url('../../resources/gain.jpg')
    background-size: cover
    background-position-y: -65px
    border-radius: 8px
    border: none


.fit-bttn
    font-size: 1.5rem
    color: white
    margin: 0 0 3rem 0
    background-image: url('../../resources/fit.png')
    background-size: cover
    background-position-y: -25px
    height: 3.5rem
    border-radius: 8px
    border: none


.lose-bttn
    font-size: 1.5rem
    color: white
    height: 3.5rem
    background-image: url('../../resources/lose.jpeg')
    background-size: cover
    background-position-y: -25px
    border-radius: 8px
    border: none

.icon-goal
    font-size: 1.8rem
    margin-top: 10rem
    margin-left: -0.5rem
