*
    padding: 0
    margin: 0
    box-sizing: border-box

@import ../Header/
@import ../Landing/
@import ../Footer/
@import ../Register/
@import ../Login/
@import ../MapHome/
@import ../Profile/
@import ../Details/
@import ../Feedback/