
*{
    margin-left: 0; 
  }
  header{
    display: flex;
    justify-content: space-between;
    height: 10%;
    border-bottom: 1px solid gray;
    padding-bottom: 2vh;
  }

  li{
    margin: 2%;
  }

  #menu{
    padding-right: 80px;
  }
  
  nav{
    height: 10%;
    display: flex;
    justify-content: flex-end;

  }

  .information-wrap{
    display: flex;
    flex-wrap: wrap;
  }
  
  .information{
    background-color: lightgray;
    border: 1px solid white;
    width: 49%;
    margin:0;
    padding: 0; 
  }
  .information-wrap :nth-child(2) {
    padding-right: 1%;
  }

  .square{
      padding: 0;
  }

  .img{
      display: flex;
      flex-wrap: wrap;

  }

  img{
      width: 50%; 
      padding: 0;
  }
  
  .border{
    margin: 2%;
  }
  
  ul{
    display: inline-flex;
    list-style:none;
  }

  #footer-main{
    display: flex;
    font-size: 2vh;
    width: 100%;
  }

  .place{
    width: 50%;
    margin:0; 
  }

  footer{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    width: 100%;

  }

.social{
  display: flex;
}
.social :nth-child(2) {
  order: 3;
}
 .social :nth-child(1) {
    order: 2;
    
  }
#suscribe{
  padding-left: 20vh;
}

  .content-socialmedia{
    display: flex;
    list-style:none; 
  }
  

