.teacher-list
    top: 100px
    padding-top: 20%
    display: flex
    flex-direction: column
    &__section
        display: flex
        flex-direction: column
        align-items: center
    &__h2
        font-size: 2em
        margin-top: 10px
        font-family: $family
        color: $prussianBlue
    &__form
        display: flex
        flex-direction: column
        align-items: center
        padding: 3%
    &__input
        margin: 5%
        height: 4.5vh
        width: 60vw
        border: 1px dotted #837b79ec
        border-radius: 5px
        text-align: center
        font-size: 1em
        font-family: $family
    &__button
        margin-top: 9%
        width: 35vw
        height: 5vh
        font-size: 1.2em
        background-color: green
        font-family: $family
        color: white
        border: 1px solid #3634348e
        border-radius: 5px
    &__ul
        overflow: auto
        margin-top: 9%
        height: 20vh
        list-style-type: none
        text-align: center
        font-size: 1.5em
        font-family: $family
        border: 1px solid #3634348e
        border-radius: 5px
        width: 85vw
    &__a
        margin-top: 10%
        margin-right: 25%
        margin-left: 25% 
        text-decoration: none
        text-align: center
        font-size: 1.5em
        background-color: $blue
        font-family: $family
        border: 1px solid #3634348e
        border-radius: 5px
        color: white
    &__li
        margin-top: 3%
    &__h2--margin 
        font-size: 2em
        font-family: $family
        color: $prussianBlue