

.profile
    clear: both

    &__avatar-container
        padding: 15px

    &__avatar-img
        display: block
        border-radius: 15%
        border: 5px solid black

    &__title
        display: inline-block
        padding: 10px
        color: white
        background-color: rgba(113, 80, 147, 0.8)
    
    &__name
        display: block
        padding: 10px
        margin-top: 10px
    
    &__email
        display: block
        padding: 10px

    &__bookmark-own
        display: inline-block
        background-color: black
        color: white
        font-size: xx-large