.student-home
    margin-top: 17%
    &__ul
        display: flex
        justify-content: space-around
        list-style-type: none
        background-color: $bluedark
        height: 6vh
        left: 50
        width: 100vw
        top: 20
        position: fixed
        &--size
            list-style-type: none
    &__a
        text-decoration: none
        color: $white
        font-size: 1.8em
        font-family: $family
    &__section
        display: flex
        flex-direction: column
        align-items: center
        overflow: auto
        
    &__li
        background-color: #dbdbdb88
        border-radius: 5px
        width: 99vw
        height: 10vh
        display: flex
        justify-content: center
        margin: 1.5px 0
    &__link
        text-decoration: none
        color: $bluedark
        font-size: 3em
        font-family: $family
    &__div
        margin-top: 13%  
        display: flex
        flex-direction: column
        align-items: center
        overflow: auto 