
.links
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    
    color: black
    text-decoration: none
    background-color: white
    font-size: 14px
    display: block
    padding: 3%
    width: 20%
    margin: 5px auto
    text-align: center


form
    padding: 10%
    text-align: center

    &__form--inputs
        display: flex
        flex-direction: column
        flex-wrap: nowrap

label
    font-size: 18px

input
    padding: 2%
    margin: 2%
