.register-successful
    
    &__content
        font-size: 18px
        margin: 20%

    &__image
        
        background-size: cover 
        background-color: white
        z-index: -1
        position: absolute
        top: 0
        left: 0
        width: 100%


    &__link
        color: white
        text-decoration: none
        background-color: black
        font-size: 14px
        display: block
        padding: 3%
        width: 40%
        margin: 5px auto