
/* =====>>>>GENERAL */

html{
    box-sizing: border-box;

}


body{
    
    margin: 0;
    border: 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    background-color: rgb(255,255,255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    width: 100%;
}




/* =====>>>>HEADER */

header{
   
    background-color: rgb(255,255,255); 
    padding: 14px 16px;  
    color: #AEAEAE;
    font-size: 20px;
    
}

#logo-img{
    width: 85px;
}

#bars{
    display: none;
}

.nav{
    display: flex;
    justify-content:space-between;  
    align-items: center;
 }

.menulist{
    
    display: flex;
}

.menulist li {

font-size: 14px;
padding: 2%;
list-style-type: none;  }

    
.navproject{

    display: flex;
    justify-content: flex-end;
    margin-left: 1em;
    
    
}
.navservices , .navindustries{
    display: flex;
    align-items: center;
    margin: 2%;
    font-size: 14px;

}

.navproject i{
    margin-left: 10px;

}

/* =====>>>>MAIN */

main{
   margin-left: 1%;
   margin-right: 1%;
    
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    width:100%;
  }
.image-container img{
    align-content: stretch;
    width: 49.8%;
    height: 49.8%;

}

img:hover{
    opacity: 0.05;
    transition: opacity 500ms;
}



 #presentation{
     display: none;
 }

 
  
  .mainarticles{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 3px;
    grid-auto-flow: row
  
}



.we-are-mucho, .talking-and-teaching, .about{
    
    background-color: #F4F4F4;
    padding: 10px;

}



.mainarticles p{
    font-size: 20px;
    padding: 10px;
}



 h2{
    color: #EC1C24;
    font-size: 14px;
    padding: 10px;
}

.we-are-mucho a{
    color: #AEAEAE;
    text-decoration: none;
}

.contact{
   
    padding-top:100px;
    color:#555555;
    font-size: 20px;
}
 
/* =====>>>>FOOTER */

footer{
   
    color: #AEAEAE;
   
    margin-top: 10%;
    color:#8a8888;
    margin: 3% 3%

}

.footer-addresses{
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 48% 48%;
    grid-auto-flow: row;

}



 #footer-text {
    justify-items: start;
    grid-column-start: 1 / span 2;
    font-size: 26px

}



.cities div{
    padding: 0 0 40px
}
  











 


