.duck-detail
    
    @extend %panel

    align-content: center
    background-color: #8bbabb
    width: 60%
    height: 60%
    text-align: justify

    img
        width: 80%
        margin: 0 10%
    
    span 
        display: block
        color:  black
        text-align: center

    a 
        display: block
        text-align: center
        
    
    h3 
        text-align: center

    .fav 
        text-align: center