.landing
    +shadow-box($moz, $web, $sha)
    +size(30vw, 20vh)
    +round-border(1px, 0.5rem, solid, grey)
    background-color: #C0EAF0
    font-family: "Lacquer", sans-serif
    & > a
        background-color: #4FC0CD
        color: #2A3334
        padding: 0 1em
        text-decoration: none
        +round-border(1px, 0.5rem, outset, grey)
    & > a:nth-child(1)
        margin-top: 5vh  