.register-success
    +shadow-box($moz, $web, $sha)
    +size(32vw, 35vh)
    +round-border(1px, 0.5rem, solid, grey)
    background-color: #C0EAF0
    font-family: "Lacquer", sans-serif
    text-align: center
    padding-top: 12vh

    & > a
        text-decoration: none
        color: #B1BBE2
        background-color: #4FC0CD
        +round-border(1px, 0.5rem, outset, grey)
        padding: 0.5em 1em
        margin-top: 0.5em

