body {
    font-family: Arial;
    padding: 20px;
    background-color: gray;
  }
  
  /* Header/Blog Title */
header {
    text-align: center;
    background-color: red;
    color: wheat;
    border-color: aliceblue;
}
nav{
    float: left;
    height: 100%;
    width: 20%;
    background-color:white;
    border-color: aliceblue;
}
main{
    margin-left: 25%;
    background-color: yellow;
}

footer {
    text-align: center;
    background: rgb(231, 31, 31);
    margin-top: 20px;
}
