.login
    background-image: url('https://cdn.pixabay.com/photo/2016/11/23/00/58/record-player-1851576_960_720.jpg')
    background-position: center
    background-size: cover
    min-height: 70vh
    text-align: center
    color: white
   