
.body-landing
    

    &__content
        width: 100%
        margin: 20% auto
        
    &__image
        
        //background-size: cover 
        background-color: white
        z-index: -1
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%

    &__links
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        color: white
        text-decoration: none
        background-color: black
        font-size: 14px
        display: block
        padding: 3%
        width: 20%
        margin: 5px auto
        text-align: center
        border: 1px solid black