.form
    padding: 0 2rem

    &__text-field
        display: inline-block
        width: 100%
        max-width: 600px
        height: 30px
        margin-top: 0.25rem
        margin-bottom: 1rem
        font-size: 1.2rem
        +round-border(0.1rem, 0.3rem, solid, khaki)
        
    &__label
        display: inline-block

    &__button
        display: inline-block
        height: 30px
        width: 100px
        margin-top: 0.25rem
        margin-bottom: 1rem
        font-size: 1.1rem
        +round-border(0.1rem, 0.3rem, solid, khaki)
