.background
    backgroun-image: 

.formname
    padding: 5rem
    text-align: center

.formtitle
    text-align: center
    margin: 1rem


.containerform
    display: flex
    justify-content: center
    align-content: center

.containerinput
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center

.containerinput input
    margin-top: 1rem
    border: 0

.containerform button
    margin-top: 2rem