.header
    display: flex
    justify-content: space-between
    align-items: center
    background-image: $background
    height: 8vh
    width: 100vw
    left: 0
    top: 0
    position: fixed
    &__h1
        font-family: $family
        color: $white
        margin-left: 2%
    &__ul
        display: flex
        list-style-type: none
    &__li
        padding-right: 5px
    &__button
        background-color: #ecdfdf
        border: 1px double $bluedark
        border-radius: 5px
        padding: 5px
        padding-bottom: 8px 
        height: 5.2vh
        width: 12vw 
    &_button--red
        background-color: #5fa045d2
        border: 1px double $bluedark
        border-radius: 5px
        border: 0
        padding: 5px
        padding-bottom: 8px
        height: 5vh
        width: 10vw
    &__h3
        font-family: $family
        color: $white
        margin-left: 2%
.q
    display: flex