mixin duck-detail(duck)
        article(class='duck-detail')
          h3= duck.title
          img(src=duck.imageUrl)
          span= duck.price
          p= duck.description
          +fav-button(duck.id, duck.favorite)