*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Open Sans', sans-serif

html
    background-color: #f9f9f9

.wrapper
    width: 95vw
    min-height: 95vh
    padding: 1rem
    margin: .5vh auto
    background-color: white