.btn
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    font-family: 'Montserrat', sans-serif
    border: 1px solid #03A6A6
    border-radius: .5rem
    background-color: #03A6A622
    color: #03A6A6
    text-decoration: none
    padding: .5rem
    font-size: 1rem
    &:hover
        background-color: #03A6A611
        font-weight: bold
    &--search
        color: white
        background-color: #03A6A6
